:root {
  /* Global variables from `src/static/vendor/css/stylesheet.less` */

  --black: #000000;
  --dark: #323232;
  --gray-dark: #747474;
  --gray: #abb0ac;
  --white: #fff;
  --milky: #f4f4f4;
  --gray-light: #f0f0f1;
  --orange: #fa8411;
  --light: #e3e8e4;

  --primary-color: #1da796; /* color1 */
  --primary-color-dark: #157c6f;
  --secondary-color: #8bb040; /* color2 */
  --active-color: #59b210;

  /* Custom variables... */

  --product-item-background: #fff;
  --product-item-body-background: #f8f8f8;
  --product-item-height: 220px;

  --transition-timeout: 250ms;

  /* Main colors */
  --common-error-color: #b00; /* 187 0 0 */
  --common-warn-color: #960;
  --common-success-color: #181;
}
/* Select togglers */
.btn.dropdown-toggle.selectpicker.btn-input {
  background-color: #dbdbdb;
  color: #000000;
}
.iconic-nav-bar.no-icon .bar {
    border-radius: 4px;
    margin-bottom: 30px;
    padding-left: 20px;
    top: auto;
  }
.iconic-nav-bar.no-icon .icon-holder {
    display: none;
  }
/* Decrease section margins */
section {
  margin: 30px 0;
}
/* Containers */
.container.unpadded {
  padding-left: 0;
  padding-right: 0;
}
/* Misc modifiers */
.full-width {
  width: 100%;
}
/* Margins */
.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-4 {
  margin-top: 40px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 30px;
}
.mb-4 {
  margin-bottom: 40px;
}
.mh-2 {
  margin-left: 20px;
  margin-right: 20px;
}
/* Paddings */
.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: 10px;
}
.pt-2 {
  padding-top: 20px;
}
.pt-3 {
  padding-top: 30px;
}
.pt-4 {
  padding-top: 40px;
}
.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: 10px;
}
.pb-2 {
  padding-bottom: 20px;
}
.pb-3 {
  padding-bottom: 30px;
}
.pb-4 {
  padding-bottom: 40px;
}
/* Profile styles */
.profile-secondary-links > * {
    position: relative;
  }
.profile-secondary-links > *:not(:last-child):after {
      position: absolute;
      display: inline-block;
      right: -10px;
      content: "|";
      color: #ccc;
      margin: 0 5px;
      /* opacity: 0.5; */
    }
/* Profile */
.profile-links-holder li {
    margin: 15px 0;
    /* font-size: 110%; */
    text-transform: uppercase;
    font-weight: bold;
  }
.section-profile-sidebar h2 {
    margin-top: 18px;
  }
/* Nav menu active item */
.top-nav-holder .nav-menu ul > li a.active {
    background-color: var(--primary-color);
    color: #fff;
  }
.top-nav-holder .nav-menu ul > li a.active:hover {
      background-color: var(--primary-color-dark);
    }
/* Form */
.field-group label {
  /* text-align: left; */
}
/* Misc */
.text-label {
  font-weight: bold;
  opacity: .5;
}
.table-responsive {
  overflow: auto;
}
.page-header {
  border: 0;
  padding-bottom: 0;
  margin: 0;
  margin-bottom: 20px;
}
.page-header .logo-cell {
    padding: 10px 0;
  }
@media (min-width: 768px) {
      .page-header .logo-cell .logo {
        text-align: left;
      }
    }
.page-header .logo img {
    /* See other styles for `header .logo` in `src/static/vendor/css/stylesheet.css` */
    height: 50px;
    transition: all var(--transition-timeout);
  }
.page-header .logo a:hover img {
    opacity: 0.7;
  }
.page-header .link-list {
    margin: 10px 0;
  }
.page-header .info-inline.on-black a {
        color: #fff;
      }
.page-header .info-inline.on-black a:hover {
          color: var(--secondary-color);
        }
.page-header .info-inline a {
      /* color: #fff; */
      opacity: 1;
    }
.page-header .info-inline a:hover {
        color: var(--active-color);
        /* color: var(--secondary-color); */
      }
.page-header .top-nav-holder .yamm-content ul > li > a {
    display: block;
    line-height: 1.5;
  }
@media (min-width: 768px) {
.page-header .header-row {
      display: flex;
      align-items: center
  }
    }
.page-header .header-row .last-menu {
      text-align: center;
    }
@media (min-width: 768px) {
.page-header .header-row .last-menu {
        text-align: right;
    }
      }
.page-header .header-row .last-menu {
      white-space: nowrap;
      display: flex;
      flex-direction: column;
}
/* Issue #13: Top home icon isn't used
  .top-menu-holder {
    .mobile-dropdown,
    nav {
      margin-left: 36px;
    }
  }
  */
.page-header .home-icon-button {
    position: absolute;
    left: 20px;
    top: 10px;
    color: #abb0ac;
    opacity: 0.5;
    z-index: 100;
    font-size: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
.section-copyright .container {
    display: flex;
    align-items: center;
  }
.section-copyright .container .footer-background {
      background-color: #e0e1e0;
      /* padding: 0 20px; */
    }
.section-footer .container .footer-background {
      padding-top: 40px;
      padding-bottom: 30px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
.section-footer .footer-links-holder li {
      display: flex;
      align-items: center;
    }
/* Footer styles */
.footer-background {
  background-color: #f0f0f1;
  width: 100%;
 }
.footer-background:before,
  .footer-background:after {
    content: " ";
    display: table;
    clear: both;
  }
/* Product item */
.product-item {
  /* width: 285px; */
  padding: 0 15px;
  display: inline-block;
}
.product-item .body .price-and-buttons {
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 5px;
  }
.wide.product-item .body .price-and-buttons {
      justify-content: center;
      gap: 15px;
    }
.product-item .body .price-and-buttons button {
      white-space: nowrap;
    }
.product-item .merged-buttons {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
@media (max-width: 767.9px) {
  .products-holder.product-carousel .owl-wrapper .owl-item {
    align-items: center !important;
  }
    .products-holder.product-carousel .owl-wrapper .owl-item .product-item {
      width: 305px;
    }
}
.product-item.wide {
  margin-bottom: 30px;
  width: 100%;
}
.product-item.wide .head {
  border: 5px solid rgba(0, 0, 0, 0.07);
  border-radius: 6px 0 0 6px;
}
.product-item.wide .head,
.product-item.wide .head .thumb {
  max-height: var(--product-item-height);
  /* height: var(--product-item-height); */
  overflow: hidden;
  position: relative;
}
.product-item.wide .head:hover .thumb img {
  transform: scale(1.1);
}
.product-item.wide .head .thumb a {
  display: block;
  text-align: center;
}
.product-item.wide .body {
  padding: 17px;
  border: 5px solid rgba(0, 0, 0, 0.07);
  border-radius: 0px 6px 6px 0px;
  position: relative;
}
.product-item.wide .body .price {
  margin: 5px 0;
}
.product-item.wide .body .buttons-holder {
  z-index: 500;
  position: relative;
  text-align: right;
}
.product-item.wide .body .price-current,
.product-item.wide .body .price-old {
  display: inline-block;
  margin-bottom: 0;
}
.product-item.wide .body h3 {
  display: inline-block;
  min-height: 25px;
}
/* .product-item.wide .body .star-holder {
  position: absolute;
  right: 20px;
  top: 20px;
} */
.product-item.wide .body .excerpt {
  font-size: 13px;
  /* min-height: 63px; */
  line-height: 18px;
}
/* Hover */
/* .product-item:hover .star-holder {
  opacity: 1 !important;
  bottom: 5% !important;
} */
/* .product-item:hover .btn-compare {
  right: 0 !important;
} */
.product-item .head {
  border: 5px solid rgba(0, 0, 0, 0.07);
  border-bottom: 0;
  overflow: hidden;
  border-radius: 6px 6px 0 0;
  background-color: var(--product-item-background);
  position: relative;
}
.product-item .head .thumb {
  overflow: hidden;
}
.product-item .head .thumb img {
  transition: all 0.3s ease;
  position: relative;
}
/* .product-item .head .star-holder {
  position: absolute;
  left: 5%;
  bottom: -100px;
  opacity: 0;
  transition: all 0.2s ease;
  text-align: center;
}
.product-item .head .star-holder .star {
  display: inline-block;
} */
/* .product-item .head .btn-compare {
  background-color: rgba(50, 50, 50, 0.7);
  background: none\9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3323232', endColorstr='#b3323232');
  color: #ffffff;
  border: none;
  width: 30px;
  height: 30px;
  transition: all 0.2s ease;
  position: absolute;
  right: -50px;
  bottom: 0;
}
.product-item .head .btn-compare:not([dummy]) {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='false');
}
.product-item .head .btn-compare:before {
  margin: 0;
}
.product-item .head .btn-compare:hover {
  background-color: #8bb040;
} */
.product-item .head .price {
  position: absolute;
  left: 5%;
  top: 5%;
  letter-spacing: 1px;
}
.product-item .head .price-current,
.product-item .head .price-old {
  position: relative;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  background-clip: padding-box;
  display: inline-block;
  padding: 3px 5px;
  color: #ffffff;
  margin-bottom: 5px;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
}
.product-item .head .price-current {
  background-color: #8bb040;
  font-weight: 500 !important;
  font-size: 16px;
}
.product-item .head .price-old {
  display: table;
  color: #747474;
  background-color: #abb0ac;
  font-size: 12px;
  text-decoration: line-through;
}
.product-item .body .price-plain {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.product-item .body .price-current {
  font-size: 23px;
  font-weight: 600!important;
  vertical-align: middle;
  display: inline-block;
  color: #000000;
}
.product-item .body .price-old {
  font-size: 16px;
  font-weight: 100!important;
  color: #abb0ac;
  text-decoration: line-through;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2;
  margin: 0 0 0 5px;
}
.product-item .body {
  border: 5px solid rgba(0, 0, 0, 0.07);
  border-top: 0;
  background-color: var(--product-item-background);
  padding: 20px;
  border-radius: 0 0 6px 6px;
}
.product-item .body h3 {
  font-size: 18px;
  line-height: 26px;
  min-height: 44px;
  text-transform: none;
  text-align: center;
}
.product-item .body h3,
.product-item .body h3 a {
  color: #000000 !important;
}
.product-item .body h3:hover,
.product-item .body h3 a:hover {
  color: #1da796 !important;
}
.product-item .body .excerpt {
  color: #747474;
  margin: 10px 0;
  line-height: 20px;
  text-align: center;
}
.product-item .body button {
  font-size: 11px;
  padding: 8px;
}
/*Best Sellers*/
.products-holder.simple-grid .product-item {
  float: none;
  padding: 0;
  /* ??? */
  /* width: auto; */
  width: 100%;
  margin-bottom: 30px;
}
/* Set product card layout */
.products-holder.simple-grid,
  .products-holder.product-carousel .owl-wrapper {
    display: flex !important;
    align-items: stretch;
  }
.products-holder.simple-grid .product-wrapper,
    .products-holder.simple-grid .body,
    .products-holder.simple-grid .product-item,
    .products-holder.simple-grid .owl-item,
    .products-holder.product-carousel .owl-wrapper .product-wrapper,
    .products-holder.product-carousel .owl-wrapper .body,
    .products-holder.product-carousel .owl-wrapper .product-item,
    .products-holder.product-carousel .owl-wrapper .owl-item {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      align-content: stretch;
      justify-content: stretch;
    }
.products-holder.simple-grid .body,
    .products-holder.simple-grid .product-item,
    .products-holder.product-carousel .owl-wrapper .body,
    .products-holder.product-carousel .owl-wrapper .product-item {
      flex: 1;
    }
.products-holder.simple-grid .body, .products-holder.product-carousel .owl-wrapper .body {
      justify-content: space-between;
    }
.products-holder.simple-grid .body h3,
      .products-holder.simple-grid .body .excerpt,
      .products-holder.product-carousel .owl-wrapper .body h3,
      .products-holder.product-carousel .owl-wrapper .body .excerpt {
        flex: 1;
        margin-bottom: 5px;
      }
.products-holder.simple-grid, .products-holder.simple-grid .row {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
    }
@media (min-width: 992px) {
        .products-holder.list-view .product-item.wide .row, .products-holder.list-view .product-item.wide .row > * {
          display: flex;
          flex-wrap: nowrap;
          align-items: stretch;
        }
        .products-holder.list-view .product-item.wide .body,
        .products-holder.list-view .product-item.wide .head {
          height: auto;
          max-height: none;
          flex: 1;
        }
        .products-holder.list-view .product-item.wide .body {
          border-left: 0;
          display: flex;
          align-items: stretch;
          flex-direction: column;
          align-content: stretch;
          /* justify-content: stretch; */
          justify-content: space-between;
        }
          .products-holder.list-view .product-item.wide .body .excerpt {
            flex: 1;
            margin-bottom: 5px;
          }
      }
.section-products-grid .grid-list-buttons {
    white-space: nowrap;
  }
.inline.qnt-holder > .le-quantity input {
  border: 1px solid #d6d6d8;
  background-color: #eee;
}
.product-item {
  position: relative;
}
.product-item .floated-actions {
    position: absolute;
    left: 8px;
    top: 8px;
  }
.product-item .floated-actions button {
      border: none;
      background: transparent;
    }
.product-item .floated-actions button.icon-btn {
        padding: 5px 8px;
      }
.product-item .floated-actions button .fa {
        color: var(--primary-color);
        font-size: 125%;
        /* font-size: 18px; [> From btn-iconic <] */
      }
.product-item .floated-actions button {
      opacity: .7;
      transition: all var(--transition-timeout);
}
.product-item .floated-actions button:hover {
        opacity: 1;
      }
.product-item .merged-buttons {
    margin-top: 0;
    margin-bottom: 0;
  }
.product-item div.body {
    padding: 15px;
  }
.product-item div.body .excerpt,
    .product-item div.body h3 {
      overflow: hidden;
      text-overflow: ellipsis;
    }
.product-item .head .thumb {
    height: var(--product-item-height);
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
.product-item :hover .thumb img {
    transform: scale(1.1);
    opacity: 0.9;
  }
/* .head .star-holder {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 8px;
    border-radius: 20px;
    &:hover {
      background-color: var(--secondary-color);
    }
  } */
.product-item.wide .body h3 {
        /** Add space for stars */
        /* padding-right: 110px; */
      }
#single-product .owl-carousel .owl-wrapper {
      display: flex !important;
      align-items: center;
    }
#single-product .owl-carousel .owl-item {
      text-align: center;
    }
#single-product .body-holder .desc {
    line-height: 1.5;
  }
#single-product {
    background-color: var(--product-item-background);
  }
.shopping-cart-page.box {
    /* background-color: var(--product-item-background); */
  }
#shopping-cart-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;

}
#shopping-cart-list table {
    flex: 1;
  }
#shopping-cart-list table .desc {
      overflow: hidden;
      text-overflow: ellipsis;
    }
#shopping-cart-list table .desc > * {
        overflow: hidden;
        text-overflow: ellipsis;
      }
#shopping-cart-list .le-quantity {
    padding: 0;
    width: auto;
  }
#shopping-cart-list .le-quantity input {
      padding: 2px;
    }
#shopping-cart-list .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }
#shopping-cart-list .actions button {
      white-space: nowrap;
    }
/* overflow: hidden; */
/* text-overflow: ellipsis; */
@media (max-width: 768px) {
#shopping-cart-list .actions button {
        /* Show only icon */
        max-width: 36px;
        color: transparent;
        padding-left: 9px
    }
        #shopping-cart-list .actions button::before {
          color: white;
        }
      }
#shopping-cart-list .actions .close-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      /* top: -8px; */
      /* right: auto; */
      position: relative;
      top: auto;
      right: auto;
      font-size: 20px;
      width: 20px;
      height: 20px;
      color: var(--primary-color);
    }
#shopping-cart-list .actions .close-btn:hover {
        text-decoration: none;
        color: var(--primary-color-dark);
      }
/* Adjust table... */
#shopping-cart-list th > div {
    white-space: nowrap;
  }
#shopping-cart-list .col-preview { width: 10em; }
/* .col-product { width: 8em; } */
#shopping-cart-list .col-price { width: 8em; }
#shopping-cart-list .col-inStock { width: 7em; }
#shopping-cart-list .col-quantity { width: 8em; }
#shopping-cart-list .col-total { width: 8em; }
#shopping-cart-list .col-actions { width: 10em; }
#shopping-cart-list .col-product h3 {
    text-transform: none;
  }
#shopping-cart-list .col-inStock,
  #shopping-cart-list .col-price,
  #shopping-cart-list .col-total {
    text-align: center;
  }
/* Customize columns for mobile devices */
@media (max-width: 992px) {
    #shopping-cart-list .col-inStock { width: 6em; }
    #shopping-cart-list .col-price { width: 6em; }
    #shopping-cart-list .col-total { width: 6em; }
  }
@media (max-width: 768px) {
#shopping-cart-list {
    /* .col-preview, */

}
    #shopping-cart-list .col-inStock {
      display: none;
    }
    #shopping-cart-list .col-preview { width: 6em; }
    #shopping-cart-list .col-actions { width: 5em; }
  }
@media (max-width: 520px) {
    #shopping-cart-list .col-preview {
      display: none;
    }
  }
select.mobile-dropdown {
    display: none !important;
  }
div.mobile-dropdown.bootstrap-select {
    width: auto !important;
    padding: 8px;
  }
div.mobile-dropdown.bootstrap-select .dropdown-header {
      color: #ccc;
      padding: 10px;
      font-size: 14px;
    }
section#breadcrumb .container {
    display: flex;
    align-items: flex-start;
  }
section#breadcrumb .le-breadcrumb {
    flex: 1;
    /* &.inline .bar */
  }
section#breadcrumb .le-backlink {
    margin-top: 8px;
    background-color: var(--milky);
    padding: 3px 8px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
  }
/* No-icon mode */
section#breadcrumb.no-icon {
    margin-top: 30px;
  }
section#breadcrumb.no-icon .le-backlink {
      margin-top: 0;
    }
section#breadcrumb .iconic-nav-bar.no-icon .bar {
      margin-bottom: 10px;
      padding-left: 10px;
      left: auto;
    }
/*banners-mosaic*/
.mosaic-banner {
  display: inline-block;
  margin-bottom: 30px;
  position: relative;
}
.mosaic-banner:after {
  transition: all 0.2s ease;
  content: "";
  background-image: url(../images/triangle-small.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 239px;
  height: 112px;
}
.mosaic-banner:before {
  content: "";
  display: inline-block;
  z-index: 200;
  background-image: url(../images/lines-vertical.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 10%;
  bottom: 0px;
  width: 129px;
  height: 55px;
}
.mosaic-banner,
.mosaic-banner img {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}
.mosaic-banner.no-gray img {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
}
.mosaic-banner img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  transition: all 0.3s ease;
}
.mosaic-banner.inverse .caption {
  color: #000000;
}
.mosaic-banner .caption {
  z-index: 100;
  padding-left: 20px;
  position: absolute;
  bottom: 10%;
  left: 0;
  color: #ffffff;
}
.mosaic-banner .caption h1 {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
  letter-spacing: 3px;
}
.mosaic-banner .caption h1 .light {
  font-weight: 100!important;
}
.mosaic-banner:hover img {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
}
.mosaic-banner:hover:after {
  bottom: 20px;
}
.mosaic-banner.full,
.mosaic-banner.full:before,
.mosaic-banner.full:after {
  width: 100%;
}
/*Responsive layout*/
@media (max-width: 1199px) {
  .mosaic-banner:after {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    left: -35px;
  }
}
@media all and (max-width: 991px) {
  .mosaic-holder .mosaic-banner {
    /* margin: 15px; */
  }
}
@media (max-width: 460px) {
  .mosaic-banner:after {
    display: none;
  }
  .mosaic-banner .le-btn.big {
    font-size: 10px;
    padding: 9px 12px;
  }
}
@media (min-width: 768px) {
  .mosaic-banner.full:after,
  .mosaic-banner.big:after {
    content: "";
    background-image: url(../images/triangle-big.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
  }
  .mosaic-banner.big:after {
    bottom: 10px;
    width: 452px;
    height: 213px;
  }
  .mosaic-banner.big .caption {
    padding-left: 70px;
  }
  .mosaic-banner.big .caption:before {
    content: "";
    background-image: url(../images/lines-horizontal.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 5px;
    width: 53px;
    height: 123px;
  }
  .mosaic-banner.big .caption h1 {
    font-size: 32px;
    margin-bottom: 10px;
    line-height: 45px;
  }
}
/*Browsers Hacks*/
.firefox .mosaic-banner img {
  max-width: 100%;
}
.firefox .mosaic-banner {
  width: 100%;
}
.gecko .mosaic-banner,
.ie .mosaic-banner {
  width: 100%;
}
.gecko .mosaic-banner img,
.ie .mosaic-banner img {
  max-width: 100%;
}
/*Banner slider*/
.circular-icon {
  border-radius: 500px;
  border: 2px solid #ffffff;
  float: none!important;
  padding: 20px;
}
.circular-icon:before {
  transition: all 0.3s ease;
}
.circular-icon,
.circular-icon:hover {
  background-color: transparent!important;
}
.circular-icon:hover {
  border-color: #1da796;
}
.circular-icon:hover:before {
  color: #1da796;
}
.owl-controls {
  z-index: 500;
}
.banner-slider .container {
  position: relative;
}
.banner-slider a.nav-btn {
  z-index: 100;
  position: absolute;
  top: 44%;
}
.banner-slider a.nav-btn.btn-next {
  right: 60px;
}
.banner-slider a.nav-btn.btn-prev {
  left: 60px;
}
.banner-carousel {
  /* NOTE: Don't fix the height of carousel? */
  /* min-height: 300px; */
}
.banner-carousel .item {
  text-align: center;
}
.banner-carousel .item .caption {
  position: absolute;
  z-index: 100;
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 40px;
}
.banner-carousel .item .caption h1 {
  letter-spacing: 3px;
}
.banner-carousel .item .caption .short-tag {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 30px;
  margin: 10px 0;
}
.banner-carousel .item img {
  border-radius: 6px;
  display: inline-block;
  width: 100%;
  height: auto;
}
/*Responsive layout*/
@media (max-width: 1199px) {
  .banner-slider a.nav-btn {
    top: 34%;
  }
  .banner-slider a.nav-btn.btn-next {
    right: 25px;
  }
}
@media all and (max-width: 991px) {
  .banner-slider a.nav-btn {
    top: 25%;
  }
  .banner-slider a.nav-btn.btn-next {
    right: 25px;
  }
  .banner-slider a.nav-btn.btn-prev {
    left: 25px;
  }
  .banner-carousel .item .caption {
    padding: 25px;
  }
  .banner-carousel .item .caption h1 {
    font-size: 24px;
  }
  .banner-carousel .item .caption .short-tag {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 767px) {
  .banner-slider a.nav-btn {
    display: none;
  }
  .banner-carousel {
    min-height: 100px;
  }
  .banner-carousel .item .caption {
    padding: 15px;
  }
  .banner-carousel .item .caption .le-btn {
    font-size: 8px;
    padding: 5px 13px;
  }
  .banner-carousel .item .caption .short-tag {
    font-size: 11px;
    line-height: 16px;
  }
  .banner-carousel .item .caption h1 {
    font-size: 19px;
    line-height: 20px;
  }
}
@media (max-width: 460px) {
  .banner-carousel .item .caption {
    padding: 5px;
  }
  .banner-carousel .item .caption h1 {
    margin-bottom: 5px;
  }
  .banner-carousel .item .caption .short-tag {
    display: none;
  }
}
@media (min-width: 768px) {
.section-products-controls {
    display: flex;
    align-items: center
}
  }
/* border: 1px solid red; */
.section-products-controls .bootstrap-select.ctrl-item {
    width: auto !important;
  }
/* .pp_content_container { */
div.pp_default .pp_details {
    position: absolute;
    top: 0;
  }
div.pp_default .pp_details a.pp_close {
      top: -32px;
      right: -26px;
    }
div.pp_default .pp_details a.pp_close:hover {
        opacity: 1;
      }
div.pp_default .pp_nav {
    display: none !important;
  }
.single-product-gallery .gallery-thumbs {
  text-align: center;
}
.top-nav-holder .searchbox {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.top-nav-holder .searchbox .search-button {
  background-color: #d6d6d8;
  padding: 14px 15px;
  position: relative;
  display: inline-block;
  z-index: 100;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.top-nav-holder .searchbox .field {
  flex: 1;
  transition: all 0.3s ease;
  background-color: #fdfdfd;
  padding: 1px;
}
.top-nav-holder .searchbox .field input {
  border: none;
  padding: 15px;
  background-color: transparent;
  width: 100%;
}
@media (max-width: 992px) {
    #section-checkout-form .box-holder h2:not(.first) {
      /* margin-top: 25px; */
    }
  }
#section-checkout-form .box-holder#main-wrapper > * {
    margin: 15px 0;
  }
#section-checkout-form .box-holder#actions .merged-buttons {
    margin: 0;
  }
.fixed-table {
  --fixed-table-bg-color1: rgb(30 174 219 / 10%);
  --fixed-table-td-padding-h-at-edges: 8px;
  --fixed-table-td-padding-h: 4px;
  --fixed-table-td-padding-v: 8px;

  width: 100%;
  border: 0;
  table-layout: fixed;
  border-style: solid;
}
.fixed-table tbody tr {
  transition: all var(--common-animation-time) ease;
}
.fixed-table-active tbody tr {
  cursor: pointer; /* All rows are always interactive. */
}
.fixed-table-draggable-rows tbody tr {
  cursor: grab; /* All rows are always interactive. */
}
.fixed-table.fixed-table-active tbody tr:hover {
  background-color: var(--fixed-table-bg-color1);
}
.fixed-table th {
}
.fixed-table th,
.fixed-table td {
  padding: 0 var(--fixed-table-td-padding-h);
  /* padding: var(--fixed-table-td-padding-v) var(--fixed-table-td-padding-h); */
  line-height: 1.3;
  overflow: hidden;
  border-bottom: 1px solid rgb(0 0 0 / 10%);
}
/* First and last columns fixups... */
.fixed-table th:first-child,
.fixed-table td:first-child {
  padding-left: var(--fixed-table-td-padding-h-at-edges);
}
.fixed-table th > *,
.fixed-table td > * {
  padding: var(--fixed-table-td-padding-v) 0;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  position: relative;
}
/* Fix styles for inner elements: bottom margins under last elements */
.fixed-table td > * textarea:last-child {
  margin-bottom: 0;
}
/* TODO: Use `block` display type for single inner element? */
.fixed-table tbody td a:not(.le-btn) {
  text-decoration: none;
}
.fixed-table tbody td a:not(.le-btn):hover {
    text-decoration: underline;
  }
.orders-table a:not(.le-btn) {
    color: var(--primary-color);
  }
.orders-table td > .le-btn {
    display: block;
    text-align: center;
    white-space: nowrap;
  }
.orders-table td > .le-btn[disabled] {
      opacity: .3;
      pointer-events: none;
      cursor: default;
    }
.orders-table td#cell-order .orderNo,
    .orders-table td#cell-order .orderDate {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
.orders-table td#cell-order .orderNo {
      font-weight: bold;
    }
.orders-table td#cell-order .orderNo > .number {
        opacity: .5;
        font-weight: normal;
      }
.orders-table td#cell-order .orderDate {
      opacity: .5;
      margin-top: 6px;
    }
.orders-table th > div {
      white-space: nowrap;
    }
.orders-table td#cell-orderPrice {
    font-size: 20px;
    font-weight: 600 !important;
  }
.orders-table {
}
.orders-table {
}
.orders-table {
}
.orders-table td#cell-paymentState.paid,
    .orders-table td#cell-paymentState.unpaid,
    .orders-table td#cell-paymentState.unknown,
    .orders-table td#cell-paymentState.cancelled,
    .orders-table td#cell-paymentState.confirmed,
    .orders-table td#cell-orderStatus.paid,
    .orders-table td#cell-orderStatus.unpaid,
    .orders-table td#cell-orderStatus.unknown,
    .orders-table td#cell-orderStatus.cancelled,
    .orders-table td#cell-orderStatus.confirmed {
      white-space: nowrap;
    }
.orders-table td#cell-paymentState.paid > div:before, .orders-table td#cell-paymentState.unpaid > div:before, .orders-table td#cell-paymentState.unknown > div:before, .orders-table td#cell-paymentState.cancelled > div:before, .orders-table td#cell-paymentState.confirmed > div:before, .orders-table td#cell-orderStatus.paid > div:before, .orders-table td#cell-orderStatus.unpaid > div:before, .orders-table td#cell-orderStatus.unknown > div:before, .orders-table td#cell-orderStatus.cancelled > div:before, .orders-table td#cell-orderStatus.confirmed > div:before {
      content: ' ';
      display: inline-block;
      border-radius: 50%;
      height: 8px;
      width: 8px;
      margin-right: 4px;
      /* background-color: #999; */
      /* vertical-align: middle; */
    }
.orders-table td#cell-paymentState.unknown > div:before, .orders-table td#cell-orderStatus.unknown > div:before {
      background-color: #999;
    }
.orders-table td#cell-paymentState.unpaid > div:before, .orders-table td#cell-paymentState.cancelled > div:before, .orders-table td#cell-orderStatus.unpaid > div:before, .orders-table td#cell-orderStatus.cancelled > div:before {
      background-color: var(--common-error-color);
    }
.orders-table td#cell-paymentState.paid > div:before, .orders-table td#cell-paymentState.confirmed > div:before, .orders-table td#cell-orderStatus.paid > div:before, .orders-table td#cell-orderStatus.confirmed > div:before {
      background-color: var(--common-success-color);
    }
.orders-table td#cell-pay {
    /* min-width: 110px; */
  }
#profile-orders-list-table button {
    white-space: nowrap;
    padding-left: 6px;
    padding-right: 6px;
  }
.orderSummaryBlock {
  display: flex;
  align-items: center;
  padding: 20px 8px;
}
.totalSum {
  flex: 1;
}
.totalSum .totalLabel {
    font-size: 16px;
    /* opacity: .5; */
  }
.totalSum .price {
    font-size: 20px;
    font-weight: 600 !important;
  }
