:root {
  /* Global variables from `src/static/vendor/css/stylesheet.less` */

  --black: #000000;
  --dark: #323232;
  --gray-dark: #747474;
  --gray: #abb0ac;
  --white: #fff;
  --milky: #f4f4f4;
  --gray-light: #f0f0f1;
  --orange: #fa8411;
  --light: #e3e8e4;

  --primary-color: #1da796; /* color1 */
  --secondary-color: #8bb040; /* color2 */
  --active-color: #59b210;

  --transition-timeout: 250ms;
}
.page-header .logo img {
    /* See other styles for `header .logo` in `src/static/vendor/css/stylesheet.css` */
    height: 75px;
    transition: all var(--transition-timeout);
  }
.page-header .logo a:hover img {
    opacity: .7;
  }
.page-header .info-inline a {
      color: #fff;
      opacity: 1;
    }
.page-header .info-inline a:hover {
        color: var(--active-color);
        color: var(--secondary-color);
      }
.page-header .top-nav-holder .yamm-content ul > li > a {
    display: block;
    line-height: 1.5;
  }
.section-copyright .container {
    display: flex;
    align-items: center;
  }
.section-copyright .container .copyright-links {
    }
.section-footer .footer-links-holder li {
      display: flex;
      align-items: center;
    }
.product-item div.body {
  padding: 15px;
}
.products-holder.simple-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
/* NOTE: Make all items in a rows the same size. */
.products-holder.simple-grid .product-wrapper {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: stretch;
  }
.products-holder.simple-grid .product-item {
    display: flex;
    flex-direction: column;
  }
.products-holder.simple-grid .product-item .body {
      flex: 1;
    }
.product-item {
  overflow: hidden;
}
.product-item .body {
    overflow: hidden;
  }
.product-item .body .excerpt,
    .product-item .body h3 {
      overflow: hidden;
      text-overflow: ellipsis;
    }
