{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

<section id="checkout" class="page-holder ">
  <div class="container no-padding">
    <div class="col-xs-12 col-md-8">
      <div class="box">
        <div class="icon-holder small badge-style">
          <i class="fa fa-check-circle-o "></i>
          <span class="triangle"></span>
        </div>
        <div class="box-holder">
          <h2>{{ 'checkout.shippingInfo' | i18n }}</h2>
          <div class="table-form ">
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <div class="field-group">
                  <label>{{ 'checkout.selectCountry' | i18n }}</label>
                  {% include "order/section-checkout-countries.njk" %}
                </div>
              </div>
              <div class="col-xs-12 col-md-4">
                <div class="field-group">
                  <label>{{ 'checkout.address' | i18n }} 1</label>
                  <input type="text" class="le-input" data-placeholder="{{ 'checkout.addressLine1' | i18n }}">
                </div>
              </div>
              <div class="col-xs-12 col-md-4">
                <div class="field-group">
                  <label>{{ 'checkout.address' | i18n }} 2</label>
                  <input type="text" class="le-input" data-placeholder="{{ 'checkout.addressLine2' | i18n }}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <div class="field-group">
                  <label>{{ 'checkout.shippingType' | i18n }}</label>
                  <select class="variation-btn inline selectpicker" data-width="100%" data-style="btn-inverse">
                    <option value="express">{{ 'checkout.express' | i18n }}</option>
                    <option value="standard">{{ 'checkout.standard' | i18n }}</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-12 col-md-4">
                <div class="field-group">
                  <label>{{ 'checkout.telephone' | i18n }}</label>
                  <input type="text" class="le-input" data-placeholder="{{ 'checkout.example' | i18n }}:  +1 123 456 7890">
                </div>
              </div>
              <div class="col-xs-12 col-md-4">
                <div class="field-group">
                  <label>{{ 'checkout.zipCode' | i18n }}</label>
                  <input type="text" class="le-input" data-placeholder="{{ 'checkout.example' | i18n }}: 33461">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-holder">
          <h2>{{ 'checkout.contactInfo' | i18n }}</h2>
          <div class="table-form ">
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <div class="field-group">
                  <input type="text" class="le-input" data-placeholder="{{ 'checkout.fullName' | i18n }}">
                </div>
              </div>
              <div class="col-xs-12 col-md-4">
                <div class="field-group">
                  <input type="text" class="le-input" data-placeholder="{{ 'checkout.emailAddress' | i18n }}">
                </div>
              </div>
              <div class="col-xs-12 col-md-4">
                <div class="field-group">
                  <input type="text" class="le-input" data-placeholder="{{ 'checkout.phone' | i18n }}">
                </div>
              </div>
            </div>
            <div class="merged-buttons">
              <a href="{{ langRootUrl }}/shopping-cart" class="le-btn small">{{ 'checkout.backToCart' | i18n }}</a>
              <a href="{{ langRootUrl }}/payment" class="le-btn small ">{{ 'checkout.payment' | i18n }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="box sidebar">
        <div class="widget simple-widget">
          <div class="icon-holder small">
            <i class="fa fa-dollar"></i>
            <span class="triangle"></span>
          </div>
          <h2>{{ 'checkout.returnPolicy' | i18n }}</h2>
          <div class="body">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed elementum nisl. In hac habitasse platea
              dictumst. Donec aliquet dolor in libero euismod, ac dapibus turpis euismod. Phasellus ac risus turpis.
              Duis quis ultricies nisi. Lorem ipsum dolor sit amet
            </p>
            <ul class="normal-ul">
              <li>Proin ut pharetra turpis</li>
              <li>Consectetur adipiscing elit</li>
              <li>Sed sed elementum nisl</li>
            </ul>
            <p>
              Nunc ut risus orci. Nam condimentum sagittis venenatis. Nullam non augue nulla. Ut eu lorem varius,
              fringilla lacus eget, hendrerit massa
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
