{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

<section id="payment-method" class="--page-holder full-width">
  <div class="container no-padding">

    <div class="col-xs-12">
      <div class="box">
        <div class="icon-holder small badge-style">
          <i class="fa fa-check-circle-o"></i>
          <span class="triangle"></span>
        </div>
        <div class="box-holder">
          <h2>{{ 'headerLinks.choosePaymentMethod' | i18n }}</h2>
          <div class="table-form">
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <div class="field-group">
                  <label>{{ 'checkout.paymentMethod' | i18n }}</label>
                  <select class="variation-btn inline selectpicker" data-width="100%" data-style="btn-inverse">
                    <option value="robokassa">{{ 'paymentMethods.robokassa' | i18n }}</option>
                    <option value="bankTransfer">{{ 'paymentMethods.bankTransfer' | i18n }}</option>
                    <option value="yandexCard">{{ 'paymentMethods.yandexCard' | i18n }}</option>
                    <option value="cashOnDelivery">{{ 'paymentMethods.cashOnDelivery' | i18n }}</option>
                    <option value="cashPaymentToTheCourier">{{ 'paymentMethods.cashPaymentToTheCourier' | i18n }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-holder">
          <div class="merged-buttons">
            <a href="{{ langRootUrl }}/shopping-cart" class="le-btn small">{{ 'checkout.backToCart' | i18n }}</a>
            <a href="{{ langRootUrl }}/order-completed" class="le-btn small">{{ 'payment.placeOrder' | i18n }}</a>
          </div>
        </div>
      </div>
    </div>

    {# Issue #13: Removed payment method info
    <div class="col-xs-12 col-md-4">
      <div class="box sidebar">
        <div class="widget simple-widget">
          <div class="icon-holder small">
            <i class="fa fa-dollar"></i>
            <span class="triangle"></span>
          </div>
          <h2>{{ 'checkout.paymentMethodInfo' | i18n }}</h2>
          <div class="body">
            {% include "order/section-payment-method-side-text-" + lang + ".njk" %}
          </div>
        </div>
      </div>
    </div>
    #}

  </div>
</section>
