{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

<section id="order-completed">
  <div class="container no-padding">
    <div class="col-xs-12">
      <div class="box">
        {# Issue #13: Removed section icons
        <div class="icon-holder small badge-style">
          <i class="fa fa-check-circle-o"></i>
          <span class="triangle"></span>
        </div>
        #}
        <div class="box-holder" align="center">
          <h2>{{ 'orderCompleted.title' | i18n }}</h2>
          <p>{{ 'orderCompleted.text' | i18n }}</p>
        </div>
        <div class="box-holder" align="center">
          <a href="{{ langRootUrl }}/products-grid" class="le-btn">{{ 'checkout.backToCatalogue' | i18n }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
