{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

{% set productColumns = 'col-xs-12 col-sm-6 col-md-6 col-lg-4' %}
{% set currency = '₽' if lang === 'ru' else '$' %}
{# NOTE: To place currency sign after the price or before? #}
{% set currencyAfter = lang === 'ru' %}

<section id="cart">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <div class="shopping-cart-page box">

          {% set showCartButtons = true %}
          {% set showTotalSum = true %}

          {% include "order/shopping-cart-list.njk" %}

        </div>
      </div>
    </div>

  </div>
</section>
