<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed elementum nisl. In hac habitasse platea
  dictumst. Donec aliquet dolor in libero euismod, ac dapibus turpis euismod. Phasellus ac risus turpis.
  Duis quis ultricies nisi. Lorem ipsum dolor sit amet
</p>
<ul class="normal-ul">
  <li>Proin ut pharetra turpis</li>
  <li>Consectetur adipiscing elit</li>
  <li>Sed sed elementum nisl</li>
</ul>
<p>
  Nunc ut risus orci. Nam condimentum sagittis venenatis. Nullam non augue nulla. Ut eu lorem varius,
  fringilla lacus eget, hendrerit massa
</p>

