.footer-nav {
  &-logo {
    padding-right: 32px;
    &:hover {
      opacity: .8;
    }
  }
  &-content,
  &-menu {
    @apply flex items-center content-center justify-center;
  }
  &-content {
    /* @apply flex-col sm:flex-row py-3 gap-2 sm:gap-8; */
    @apply flex-row flex-wrap;
    gap: .25rem 1.5rem;
  }
  &-menu {
    @apply flex-row gap-1;
    &-item {
      @apply whitespace-nowrap;
    }
    &-item-link {
      @apply whitespace-nowrap;
      color: theme(colors.primary.500);
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
