.footer-block {
  @apply flex flex-col sm:flex-row items-center sm:items-start;
  margin-top: 48px;
  gap: 24px 32px;
  /* border: 1px solid red; */
  &-logo {
    /* border: 1px solid red; */
    a {
      user-select: none;
      &:hover {
        opacity: .8;
      }
    }
  }
  &-menu {
    flex: 1;
    @apply flex flex-row flex-wrap items-start content-center justify-around;
    gap: 16px 32px;
    /* border: 1px solid red; */
    &-section {
      &-title {
        font-weight: bold;
      }
    }
    &-item {
      margin: 8px 0;
      opacity: .5;
      &.has-link {
        opacity: 1;
      }
      a {
        &:hover {
          text-decoration: underline;
          color: theme(colors.primary.500);
        }
      }
    }
  }
}
