.header-splash {
  @apply flex flex-col-reverse lg:flex-row py-8 items-stretch;
  gap: 24px;
  &-text-cell,
  &-image-cell {
    @apply flex flex-col py-4 lg:w-1/2;
  }
  &-text-cell {
    @apply justify-start lg:justify-center items-center lg:items-start;
  }
  &-image-cell {
    overflow: hidden;
    position: relative;
    min-height: 300px;
    @media (min-width: theme(screens.xl)) {
      min-height: 400px;
    }
    @media (min-width: theme(screens.2xl)) {
      min-height: 500px;
    }
  }
  &-image-display {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* background-size: cover; */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  &-image-element {
  }
  &-title-header,
  &-title-content {
    @apply text-center lg:text-left;
  }
  &-title-header {
    @apply tracking-wide text-gray-700 text-5xl mb-4;
  }
  &-title-content {
    @apply font-light text-gray-800 text-2xl;
    p + p {
      margin-top: 8px;
    }
  }
  &-action {
    @apply text-center mt-4 lg:text-left;
  }
  &-main,
  &-more {
    border: 1px solid green;
  }
}
