/* Primary colors */

.bg-primary {
  background-color: var(--primary-color);
}
.text-primary {
  color: var(--primary-color);
}
.border-primary {
  border-color: var(--primary-color);
}

/* page-content */

.page-content-wrapper {
  position: relative;
  overflow: hidden;
  margin: 0px auto;
  width: 100%;
}
.page-content-wrapper--gray {
  background-color: theme(colors.gray.200);
}
.page-content-wrapper--dark-gray {
  background-color: theme(colors.gray.800);
}
.page-content-container {
  position: relative;
  overflow: hidden;
  margin: 0px auto;
  width: 100%;
  overflow: hidden;
  padding: 0 24px;
  @media (min-width: theme(screens.sm)) {
    padding: 0 48px;
  }
  @media (min-width: theme(screens.lg)) {
    padding: 0 64px;
  }
  /* $container-width: theme(screens.lg); */
  $container-width: theme(screens.2xl);
  /* $container-width: 800px; [> DEBUG: Narrow layout <] */
  @media (min-width: $container-width) {
    width: $container-width;
  }
}

/* default-content-container */

.default-content-container {
  @apply flex flex-col justify-center items-center py-12;
  &--slim {
    @apply py-4;
  }
}

/* section-title */

.section-title {
  /* @apply self-center text-center w-full sm:w-2/3 xl:w-1/2 px-4 sm:px:0; */
  @apply text-center w-full sm:w-2/3 mb-4;
  &-header {
    /* @apply tracking-wide text-gray-700 font-bold text-4xl mb-4; */
    @apply tracking-wide text-gray-700 text-4xl;
  }
  &-content {
    @apply font-light text-gray-800 text-xl;
    p + p {
      margin-top: 8px;
    }
  }
  &-header + &-content {
    @apply mt-4;
  }
  &--left {
    @apply self-start text-left;
  }
  &.on-dark &-header {
    /* @apply text-gray-200; */
    color: theme(colors.gray.200);
  }
  &.on-dark &-content {
    /* @apply text-gray-200; */
    color: theme(colors.gray.100);
  }
}
