{# @see src/sections/header-splash.md #}

{% for item in collections.sections %}
  {% if item.data.type === 'header-splash' %}

    <div id="header-splash" class="header-splash page-content-container default-content-container">
      <div class="header-splash-text-cell">
        <div class="header-splash-title">
          <h2 class="header-splash-title-header">{{ item.data.title }}</h2>
          <div class="header-splash-title-content">
            {{ item.templateContent | safe }}
          </div>
        </div>
        {% if item.data.link %}<div class="header-splash-action">
          <a class="button button-primary text-xl" href="{{ site.mainSitePrefix }}{{ item.data.link }}">Action</a>
        </div>{% endif %}
      </div>
      <div class="header-splash-image-cell">
        <div class="header-splash-image-display lo-res" style="background-image: url(/img/header-splash/{{ item.data.preview }})"></div>
        <noscript>
          <div class="header-splash-image-display hi-res" style="background-image: url(/img/header-splash/{{ item.data.image }})"></div>
        </noscript>
        {#
        <div class="header-splash-image-display hi-res" style="background-image: url(/img/header-splash/{{ item.data.image }})"></div>
        <img class="header-splash-image-element" src="/img/header-splash/{{ item.data.image }}">
        #}
      </div>
    </div>

  {% endif %}
{% endfor %}
