{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(site.url) }}{%- endset -%}
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" href="{{ "/favicon.ico" | htmlBaseUrl }}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="{{ description or 'site.description' | i18n }}" />
<meta name="author" content="{{ 'site.author' | i18n }}" />
<meta name="robots" content="index,follow" />
<link rel="preload" href="/css/page.css" as="style" />
<link rel="stylesheet" href="/css/page.css" />
{# Fonts... #}
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="preload" as="style" />
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800" rel="preload" as="style" />
<link href="http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800" rel="stylesheet" type="text/css" />
{# Marqet template sources... #}
<link rel="stylesheet" href="/vendor/css/prettyPhoto.css">
<link rel="stylesheet" href="/vendor/css/animate.css">
<link rel="stylesheet" href="/vendor/css/owl.carousel.css">
<link rel="stylesheet" href="/vendor/css/owl.theme.css">
<link rel="stylesheet" href="/vendor/css/yamm.css">
<link rel="stylesheet" href="/vendor/css/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/vendor/css/stylesheet.css">
<!-- BEGIN SOCIAL META DATA -->
<meta property="og:site_name" content="{{ 'site.name' | i18n }}" />
<meta property="og:title" content="{{ title or 'site.name' | i18n }}" />
<meta property="og:description" content="{{ description or 'site.description' | i18n }}" />
<meta property="og:url" content="{{ absolutePageUrl }}" />
<meta name="twitter:card" content="{% if image -%}summary_large_image{% else %}summary{% endif %}" />
{%- if image -%}
  <meta property="og:image" content="{{ image | url | absoluteUrl(site.url) }}" />
{%- endif -%}
<!-- ./END SOCIAL META DATA -->
<meta name="theme-color" content="#ffffff" />
<title>{{ title or 'site.name' | i18n }}</title>
