{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

<section class="banner-slider wow fadeInUp">
  <div class="container">

    <a class="btn-next nav-btn circular-icon" href="#"></a>
    <a class="btn-prev nav-btn circular-icon" href="#"></a>

    <div class="banner-carousel owl-carousel">
      <div class="item">
        <div class="caption">
          <h1>great stuff</h1>
          <div class="short-tag">
            <p>
              it was some time before the obtained any answer,<br>
              and the reply, when made, was awesome!
            </p>
          </div>
          <a class="le-btn" href="#">buy now</a>
        </div>
        <img src="/vendor/images/banner-slide-01.jpg" alt="">
      </div>

      <div class="item">
        <div class="caption">
          <h1>great stuff</h1>
          <div class="short-tag">
            <p>
              it was some time before the obtained any answer,<br>
              and the reply, when made, was awesome!
            </p>
          </div>
          <a class="le-btn" href="#">buy now</a>
        </div>
        <img src="/vendor/images/banner-slide-01.jpg" alt="">
      </div>
    </div>
  </div>
</section>
