<section class="section-copyright">
  <div class="container">
    <div class="copyright col-xs-12 col-sm-5">
      <p>
        <strong>© MarQet 2014</strong>. All rights reserved.<br>
        Designed and Made by <a href="http://themeforest.net/user/LeAmino?ref=LeAmino">Amin Diary</a>
      </p>
    </div>
    <div class="copyright-links col-xs-12 col-sm-7">
      <ul class="inline">
        <li><a href="#">privacy policy</a></li>
        <li><a href="#">terms & conditions</a></li>
        <li><a href="#">site map</a></li>
      </ul>
    </div>
  </div>
</section>

