<section class="section-footer">
  <div class="container">

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="footer-column">
        <h2>
          <span class="icon-holder">
            <i class="fa fa-info"></i>
            <span class="triangle"></span>
          </span>
          informations
        </h2>
        <ul class="footer-links-holder">
          <li><a href="#" >our blog</a></li>
          <li><a href="#" >about our shop</a></li>
          <li><a href="#" >secure shopping</a></li>
          <li><a href="#" >privacy policy</a></li>
          <li><a href="#" >delivery informations</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="footer-column">
        <h2>
          <span class="icon-holder">
            <i class="fa  fa-check"></i>
            <span class="triangle"></span>
          </span>
          customer care
        </h2>
        <ul class="footer-links-holder">
          <li><a href="#" >contact us</a></li>
          <li><a href="#" >site map</a></li>
          <li><a href="#" >top sales & bestsellers</a></li>
          <li><a href="#" >gift vouchers</a></li>
          <li><a href="#" >best sellers</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="footer-column">
        <h2>
          <span class="icon-holder">
            <i class="fa  fa-user"></i>
            <span class="triangle"></span>
          </span>
          your account
        </h2>
        <ul class="footer-links-holder">
          <li><a href="#" >order status</a></li>
          <li><a href="#" >my wishlist</a></li>
          <li><a href="#" >delivery address</a></li>
          <li><a href="#" >order history</a></li>
          <li><a href="#" >newsletter</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="footer-column">
        <h2>
          <span class="icon-holder">
            <i class="fa  fa-phone"></i>
            <span class="triangle"></span>
          </span>
          get in touch
        </h2>
        <p>
        <strong>{{ 'site.name' | i18n }}</strong><br>
          {{ 'company.address' | i18n }}<br>
          {{ site.phone }}
        </p>
        <ul class="social-icons triangled">
          <li><a href="#" class="fa fa-facebook" ></a></li>
          <li><a href="#" class="fa fa-google-plus" ></a></li>
          <li><a href="#" class="fa fa-rss" ></a></li>

          <li><a href="#" class="fa fa-linkedin" ></a></li>
        </ul>
      </div>
    </div>
  </div>

</section>
