<section id="newsletter" class="section-newsletter">
  <div class="container">
    <div class="col-xs-12 col-md-1">
      <div class="icon-holder big">
        <i class="fa fa-newspaper-o"></i>
        <span class="triangle"></span>
      </div>
    </div>
      <div class="col-xs-12 col-md-4">
      <div class="text">
        sign up for our newsletter to<br>
        get best offers and news.
      </div>
    </div>
    <div class="col-xs-12 col-md-7">
      <form class="subscribe-form">
        <input data-placeholder="Enter Your Email Here..." class="le-input col-xs-12 col-md-10">
        <button type="submit" class="le-btn icon-btn fa fa-send"></button>
      </form>
    </div>
  </div>
</section>
