{# @see src/sections/bottom-splash.md #}

{% for item in collections.sections %}
  {% if item.data.type === 'bottom-splash' %}

    <div id="bottom-splash" class="bottom-splash page-content-container default-content-container">
      <div class="bottom-splash-title section-title on-dark">
        <h2 class="bottom-splash-title-header section-title-header">{{ item.data.title }}</h2>
        <div class="bottom-splash-title-content section-title-content">
          {{ item.templateContent | safe }}
        </div>
      </div>
      <div class="bottom-splash-action">
        <a class="button button-light on-dark text-xl" href="{{ site.mainSitePrefix }}/action">Action</a>
      </div>
    </div>

  {% endif %}
{% endfor %}
