{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

<section class="section-brands-slider">
  <div class="container">
    <a href="#next" class="brands-next btn-next"></a>
    <a href="#prev" class="brands-prev btn-prev"></a>
    <div class="brands-slider default-carousel owl-carousel">
      <div class="brand-item">
        <a href="#">
          <img alt="" src="/vendor/images/brands01.png"  />
        </a>
      </div>
      <div class="brand-item">
        <a href="#">
          <img alt="" src="/vendor/images/brands02.png"  />
        </a>
      </div>
      <div class="brand-item">
        <a href="#">
          <img alt="" src="/vendor/images/brands03.png"   />
        </a>
      </div>
      <div class="brand-item">
        <a href="#">
          <img alt="" src="/vendor/images/brands04.png"  />
        </a>
      </div>
      <div class="brand-item">
        <a href="#">
          <img alt="" src="/vendor/images/brands05.png"   />
        </a>
      </div>
      <div class="brand-item">
        <a href="#">
          <img alt="" src="/vendor/images/brands02.png"  />
        </a>
      </div>
      <div class="brand-item">
        <a href="#">
          <img alt="" src="/vendor/images/brands04.png"  />
        </a>
      </div>
      <div class="brand-item">
        <a href="#">
          <img alt="" src="/vendor/images/brands01.png"  />
        </a>
      </div>
      <div class="brand-item">
        <a href="#">
          <img alt="" src="/vendor/images/brands03.png"  />
        </a>
      </div>
      <div class="brand-item">
        <a href="#">
          <img alt="" src="/vendor/images/brands05.png"  />
        </a>
      </div>
    </div>
  </div>
</section>
