<nav id="site-navbar" class="site-navbar page-content-wrapper">
  <div class="site-navbar-container page-content-container">

    <div class="site-navbar-logo">
      <a href="/" class="no-underline"><img src="/img/360logo.svg" alt="360caster Logo"></a>
      <!--
      <button id="menuBtn" class="hamburger block sm:hidden focus:outline-none" type="button" onclick="navToggle();" aria-label="Show Menu"><span
          class="hamburger__top-bun"></span><span class="hamburger__bottom-bun"></span></button>
      -->
    </div>

    <div id="menu" class="site-navbar-menu hidden sm:flex">
      <!--
      <a class="button button-transparent" href="{{ site.mainSitePrefix }}/tours">Tours</a>
      <a class="button button-primary" href="{{ site.mainSitePrefix }}/signin">Sign in</a>
      <a class="button button-light" href="{{ site.mainSitePrefix }}/signup">Sign up</a>
      -->
    </div>

  </div>
</nav>
