{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(site.url) }}{%- endset -%}
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" href="{{ "/favicon.ico" | htmlBaseUrl }}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="{{ description or 'site.description' | i18n }}" />
<meta name="author" content="{{ 'site.author' | i18n }}" />
<meta name="robots" content="index,follow" />
{# Styles #}
{% include "base/html-styles.njk" %}
{# BEGIN SOCIAL META DATA #}
<meta property="og:site_name" content="{{ 'site.name' | i18n }}" />
<meta property="og:title" content="{{ title or 'site.name' | i18n }}" />
<meta property="og:description" content="{{ description or 'site.description' | i18n }}" />
<meta property="og:url" content="{{ absolutePageUrl }}" />
<meta name="twitter:card" content="{% if image -%}summary_large_image{% else %}summary{% endif %}" />
{%- if image -%}
  <meta property="og:image" content="{{ image | url | absoluteUrl(site.url) }}" />
{%- endif -%}
{# END SOCIAL META DATA #}
<meta name="theme-color" content="#ffffff" />
<title>{{ title or 'site.name' | i18n }}</title>
