{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}
{% set currencyId = 'rub' if lang === 'ru' else 'usd' %}
{% set currency = '₽' if lang === 'ru' else '$' %}
{# NOTE: To place currency sign after the price or before? #}
{% set currencyAfter = lang === 'ru' %}

  <script type="text/javascript">
    window.devEnv = '{{ buildInfo.devEnv }}';
    window.isDev = {{ 'true' if buildInfo.devEnv else 'false' }};

    window.buildHash = '{{ buildInfo.hash }}';
    window.buildProjectName = '{{ buildInfo.projectName }}';
    window.buildTimestamp = '{{ buildInfo.timestamp }}';
    window.buildTimetag = '{{ buildInfo.timetag }}';
    window.buildVersion = '{{ buildInfo.version }}';
    window.buildCurrentTimeStr = '{{ buildInfo.currentTimeStr }}';
    window.buildCurrentTimeTag = '{{ buildInfo.currentTimeTag }}';
    window.buildGitBranch = '{{ buildInfo.gitBranch }}';

    window.langRootUrl = '{{ langRootUrl }}';

    window.currencyId ='{{ currencyId }}';
    window.currency ='{{ currency }}';
    window.currencyAfter ='{{ currencyAfter }}';

    window.i18n = {
      products: {
        price: '{{ 'products.price' | i18n }}',
        count: '{{ 'products.count' | i18n }}',
        remove: '{{ 'products.remove' | i18n }}',
      },
    };

  </script>

  {# Template scripts... #}
  <script type="text/javascript" src="/vendor/js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="/vendor/js/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="/vendor/css/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/vendor/js/twitter-bootstrap-hover-dropdown.min.js"></script>
  <script type="text/javascript" src="/vendor/js/css_browser_selector.js"></script>
  <script type="text/javascript" src="/vendor/js/jquery.easing-1.3.js"></script>
  <script type="text/javascript" src="/vendor/js/jquery.prettyPhoto.patched.js"></script>
  <script type="text/javascript" src="/vendor/js/jquery.isotope.min.js"></script>
  <script type="text/javascript" src="/vendor/js/wow.min.js"></script>
  <script type="text/javascript" src="/vendor/js/owl.carousel.min.js"></script>
  <script type="text/javascript" src="/vendor/js/jquery.raty.min.js"></script>
  <script type="text/javascript" src="/vendor/js/bootstrap-slider.js"></script>
  <script type="text/javascript" src="/vendor/js/jquery.lazyload.min.js"></script>
  <script type="text/javascript" src="/vendor/js/bootstrap-select.min.js"></script>

  {# Validation
   #  @see https://github.com/jquery-validation/jquery-validation
   #}
  {# <script type="text/javascript" src="/vendor/js/jquery.validate.js"></script> #}
  <script type="text/javascript" src="/vendor/js/jquery-validation-1.19.5/jquery.validate.min.js"></script>
  {# <script type="text/javascript" src="/vendor/js/jquery-validation-1.19.5/additional-methods.min.js"></script> #}
  {% if lang == 'ru' %}
  <script type="text/javascript" src="/vendor/js/jquery-validation-1.19.5/localization/messages_ru.min.js"></script>
  {% endif %}

  {# Masked input
   # @see https://github.com/digitalBush/jquery.maskedinput
   #}
  <script type="text/javascript" src="/vendor/js/jquery.maskedinput@1.4.1/jquery.maskedinput.js"></script>
  <link rel="stylesheet" href="/vendor/js/jquery.maskedinput@1.4.1/jasmine-be-calm.css">

  {# Main template script #}
  <script type="text/javascript" src="/vendor/js/script.js?{{ buildInfo.hash }}"></script>

  {# Custom scripts... #}
  <script type="text/javascript" src="{{ '/js/scripts.js' | url }}?{{ buildInfo.hash }}"></script>
  {# Shopping cart support #}
  <script type="text/javascript" src="{{ '/js/cart.js' | url }}?{{ buildInfo.hash }}"></script>
