{# @see src/sections/benefits.md #}

{% for section in collections.sections %}
  {% if section.data.type === 'benefits' %}

    {# TODO: Section wrapper, title, content classes #}

    <div id="benefits" class="benefits page-content-container default-content-container">
      <div class="benefits-title section-title">
        {% if section.data.title %}<h2 class="section-title-header">{{ section.data.title }}</h2>{% endif %}
        {% if section.templateContent %}<div class="section-title-content">
          {{ section.templateContent | safe }}
        </div>{% endif %}
      </div>
      <div class="benefits-list">

        {% for item in benefits.items %}
          <div class="benefits-list-item">
            {#
            <div class="benefits-list-item-image">
              {% if item.id %}<img src="{{ section.data.iconsPath }}{{ item.id }}{{ section.data.iconsExt }}" alt="{{ item.title }}" />{% endif %}
            </div>
            #}
            <div class="benefits-list-item-image"{% if item.id %} style="background-image: url({{ section.data.iconsPath }}{{ item.id }}{{ section.data.iconsExt }})"{% endif %}></div>
            <div class="benefits-list-item-text">
              {% if item.title %}<h3 class="benefits-list-item-text-title">{{ item.title }}</h3>{% endif %}
              {% if item.content %}<div class="benefits-list-item-text-content">
                {{ item.content | markdown | safe }}
              </div>{% endif %}
            </div>
          </div>
        {% endfor %}

      </div>
    </div>

  {% endif %}
{% endfor %}
