---
layout: page.njk
---

{# // DEBUG: Omit some sections #}

{# {% include "main/section-banners-mosaic.njk" %} #}
{# {% include "section-banner-single.njk" %} #}
{% include "main/section-single-banner.njk" %}

{% include "catalogue/section-featured-products.njk" %}
{% include "catalogue/section-bestsellers.njk" %}
{% include "catalogue/section-tags.njk" %}

{# {% include "section-newsletter.njk" %} #}
{% include "section-banner-slider.njk" %}
{# {% include "section-brands-slider.njk" %} #}
