---
layout: page.njk
---

{# // DEBUG: Omit some sections #}

{% include "page-section-banners-mosaic.njk" %}

{% include "page-section-featured-products.njk" %}
{% include "page-section-bestsellers.njk" %}

{% include "page-section-newsletter.njk" %}
{% include "page-section-banner-slider.njk" %}
{% include "page-section-brands-slider.njk" %}
