---
layout: base.njk
---

{# // DEBUG: Omit some sections #}

{% include "page-header.njk" %}

{{ content | safe }}

{% include "page-section-copyright.njk" %}
{% include "page-section-footer.njk" %}
