---
layout: page.njk
---

{% include "shared/section-breadcrumb.njk" %}

<section id="section-profile-layout">
  <div class="container no-padding">
    <div class="section-profile-content col-xs-12" id="main-content">
    {# NOTE: Issue #15: Profile navigation moved to the top site menu as a dropdown.
    <div class="section-profile-sidebar col-xs-12 col-md-3" id="side-column">
      <div class="sidebar">
        <!-- Main profile menu -->
        <div class="accordion-widget profile-accordion widget">
          <h2 class="mt-2">{{ 'profile.menu' | i18n }}</h2>
          <ul class="profile-links-holder">
            <li><a href="{{ langRootUrl }}/profile-page?{{ buildInfo.hash }}">{{ 'profile.editProfile' | i18n }}</a></li>
            <li><a href="{{ langRootUrl }}/profile-orders?{{ buildInfo.hash }}">{{ 'profile.myOrders' | i18n }}</a></li>
            <li><a href="{{ langRootUrl }}/profile-wishlist?{{ buildInfo.hash }}">{{ 'profile.myWishlist' | i18n }}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section-profile-content col-xs-12 col-md-9" id="main-column">
    #}

    {{ content | safe }}

    </div>
  </div>
</section>

{# {% include "section-newsletter.njk" %} #}
