{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

<script><!--
  var lang = '{{ lang }}';
  var formId = '#profile-form';
  window.addEventListener('load', function onLoad() {
    if (lang === 'ru') {
      $('#telephone').mask('+7 (999) 999-9999');
    }
    var jqForm = $(formId);
    if (jqForm.length) {
      jqForm.validate({
        rules: {
          password: {
            required: true,
            minlength: 5,
          },
          password2: {
            required: true,
            minlength: 5,
            equalTo: '#password',
          },
          email: {
            required: true,
            email: true,
          },
        },
      });
      $('#formSubmit').click(function validateForm() {
        var result = jqForm.valid();
        return result;
      });
    }
  });
//--></script>

<form id="profile-form" class="medium-form-box validate-form needs-validation" novalidate>
  <div class="box-holder row" id="main-wrapper">
    <div class="col-xs-12 col-md-6" id="left-column">

      <div class="field-group">
        <label for="loginName">{{ 'profile.loginName' | i18n }}</label>
        <input id="loginName" name="loginName" type="text" class="le-input" placeholder="{{ 'profile.loginName' | i18n }}" />
      </div>
      <div class="field-group" id="passwordField">
        <label for="password">{{ 'profile.password' | i18n }}</label>
        <input id="password" name="password" type="password" class="le-input" placeholder="{{ 'profile.password' | i18n }}" />
      </div>
      <div class="field-group" id="password2Field">
        <label for="password2">{{ 'profile.password2' | i18n }}</label>
        <input id="password2" name="password2" type="password" class="le-input" placeholder="{{ 'profile.password2' | i18n }}" />
      </div>
    </div>
    <div class="col-xs-12 col-md-6" id="right-column">

      {# <h2>{{ 'checkout.contactInfo' | i18n }}</h2> #}

      <div class="field-group">
        <label for="fullName">{{ 'checkout.fullName' | i18n }}</label>
        <input id="fullName" name="fullName" type="text" class="le-input" placeholder="{{ 'checkout.fullName' | i18n }}" required />
      </div>
      <div class="field-group">
        <label for="telephone">{{ 'checkout.telephone' | i18n }}</label>
        <input id="telephone" name="telephone" type="tel" class="le-input" placeholder="{{ 'checkout.telephone' | i18n }}" required />
      </div>
      <div class="field-group" id="emailField">
        <label for="email">{{ 'profile.email' | i18n }}</label>
        <input id="email" type="text" class="le-input" placeholder="{{ 'profile.email' | i18n }}" />
      </div>
      <div class="field-group">
        <label for="country">{{ 'checkout.country' | i18n }}</label>
        {% include "order/section-checkout-countries-" + lang + ".njk" %}
      </div>
      <div class="field-group">
        <label for="city">{{ 'checkout.city' | i18n }}</label>
        <input id="city" name="city" type="text" class="le-input" placeholder="{{ 'checkout.addressCity' | i18n }}" />
      </div>
      <div class="field-group">
        <label for="address">{{ 'checkout.address' | i18n }}</label>
        <input id="address" name="address" type="text" class="le-input" placeholder="{{ 'checkout.addressText' | i18n }}" />
      </div>
      <div class="field-group">
        <label for="zipCode">{{ 'checkout.zipCode' | i18n }}</label>
        <input id="zipCode" name="zipCode" type="text" class="le-input" placeholder="{{ 'checkout.zipCode' | i18n }}" />
      </div>

    </div>
    <div class="col-xs-12 mt-4" id="actions-block" align="center">

      <!--
      <div class="field-group" id="rememberMeCheckbox">
        <span class="checkbox-field">
          <input type="checkbox" id="check" /> <label for="check">{{ 'profile.rememberMe' | i18n }}</label>
        </span>
      </div>
      -->

      <!-- Action buttons -->
      {% if profileFormMode == 'logon' %}
      <div class="field-group">
        <button id="formSubmit" type="submit" class="le-btn"><i class="fa fa-check"></i> {{ 'profile.logon' | i18n }}</button>
      </div>
      <div class="field-group profile-secondary-links">
        <a href="{{ langRootUrl }}/profile-login" class="btn">{{ 'profile.login' | i18n }}</a>
        <a href="{{ langRootUrl }}/profile-restore-password" class="btn">{{ 'profile.forgotPassword' | i18n }}</a>
      </div>
    {% else %}
      <div class="field-group">
        <button id="formSubmit" type="submit" class="le-btn"><i class="fa fa-check"></i> {{ 'profile.save' | i18n }}</button>
      </div>
    {% endif %}

    </div>
  </div>
</form>
