{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

<section id="section-logon">
  <div class="container no-padding">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-holder mt-2">
          <h2 align="center">{{ 'pages.profile' | i18n }}</h2>
          <!--
          <p class="mb-2" align="center">{{ 'profile.profileText' | i18n }}</p>
          -->

          {% set profileFormMode = 'profile' %}
          {% include "profile/profile-form.njk" %}

        </div>
      </div>
    </div>
  </div>
</section>

