{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

<section id="section-profile-enter-new-password">
  <div class="container no-padding">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-holder mt-2">
          <h2 align="center">{{ 'pages.profileEnterNewPassword' | i18n }}</h2>
          <!--
          <p class="mb-2" align="center">{{ 'profile.logonText' | i18n }}</p>
          -->

          {% include "profile/section-profile-enter-new-password-form.njk" %}

        </div>
      </div>
    </div>
  </div>
</section>

