{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

{% set currency = '₽' if lang === 'ru' else '$' %}
{# NOTE: To place currency sign after the price or before? #}
{% set currencyAfter = lang === 'ru' %}

<div class="box" id="section-profile-order">
  <div class="box-holder mt-1">
    <h2 align="center">{{ 'profile.order' | i18n }}</h2>

    <div class="section-profile-order-page">

      {% set showCheckoutButton = true %}
      {% set showTotalSum = true %}

      {% include "order/shopping-cart-list.njk" %}

    </div>

  </div>
</div>
