{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

<section id="section-profile-succesful-registration">
  <div class="container no-padding">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-holder" align="center">
          <div class="section-icon-visual"><i class="fa fa-check"></i></div>
          <h2>{{ 'pages.profileRestorePasswordDone' | i18n }}</h2>
          {# <p>{{ 'profile.profileRestorePasswordDoneText' | i18n }}</p> #}
          <!-- Action buttons -->
          <div class="field-group" align="center">
            <a class="le-btn" href="{{ langRootUrl }}/?{{ buildInfo.hash }}"><i class="fa fa-check"></i> {{ 'profile.continue' | i18n }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


