{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

<script><!--
  var lang = '{{ lang }}';
  var formId = '#section-restore-password-form';
  window.addEventListener('load', function onLoad() {
    var jqForm = $(formId);
    if (jqForm.length) {
      jqForm.validate({
        rules: {
          email: {
            required: true,
            email: true,
          },
        },
      });
      $('#formSubmit').click(function validateForm() {
        var result = jqForm.valid();
        return result;
      });
    }
  });
//--></script>

<section id="section-restore-password">
  <div class="container no-padding">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-holder" align="center">
          <h2>{{ 'pages.profileRestorePassword' | i18n }}</h2>
          <p class="mb-2">{{ 'profile.restorePasswordText' | i18n }}</p>

          <form id="section-restore-password-form" class="narrow-form-box">
            <div class="field-group" id="emailField">
              <label for="email">{{ 'profile.email' | i18n }}</label>
              <input id="email" name="email" type="text" class="le-input" placeholder="{{ 'profile.email' | i18n }}" />
            </div>

            <!-- Action buttons -->
            <div class="field-group" align="center">
              <button id="formSubmit" type="submit" class="le-btn"><i class="fa fa-check"></i> {{ 'profile.restorePassword' | i18n }}</button>
            </div>
            <div class="field-group profile-secondary-links" align="center">
              <a href="{{ langRootUrl }}/profile-login?{{ buildInfo.hash }}" class="btn">{{ 'profile.login' | i18n }}</a>
              <a href="{{ langRootUrl }}/profile-logon?{{ buildInfo.hash }}" class="btn">{{ 'profile.logon' | i18n }}</a>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
