{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

<script><!--
  var lang = '{{ lang }}';
  var formId = '#section-login-form';
  window.addEventListener('load', function onLoad() {
    var jqForm = $(formId);
    if (jqForm.length) {
      jqForm.validate({
        rules: {
          loginPassword: {
            required: true,
            minlength: 5,
          },
        },
      });
      $('#formSubmit').click(function validateForm() {
        var result = jqForm.valid();
        return result;
      });
    }
  });
//--></script>

<section id="section-login">
  <div class="container no-padding">
    <div class="col-xs-12">
      <div class="box">
        {# Issue #13: Removed section icons
        <div class="icon-holder small badge-style">
          <i class="fa fa-check-circle-o"></i>
          <span class="triangle"></span>
        </div>
        #}
        <div class="box-holder" align="center">
          <h2>{{ 'pages.profileLogIn' | i18n }}</h2>
          <p class="mb-2">{{ 'profile.loginText' | i18n }}</p>

          <form id="section-login-form" class="narrow-form-box">
            <div class="field-group" id="loginNameField">
              <label for="loginName">{{ 'profile.loginName' | i18n }}</label>
              <input id="loginName" name="loginName" type="text" class="le-input" placeholder="{{ 'profile.loginName' | i18n }}" required />
            </div>
            <div class="field-group" id="loginPasswordField">
              <label for="loginPassword">{{ 'profile.password' | i18n }}</label>
              <input id="loginPassword" name="loginPassword" type="password" class="le-input" placeholder="{{ 'profile.password' | i18n }}" required />
            </div>
            <div class="field-group" id="rememberMeCheckbox">
              <span class="checkbox-field">
                <input type="checkbox" id="check" name="check" /> <label for="check">{{ 'profile.rememberMe' | i18n }}</label>
              </span>
            </div>

            <!-- Action buttons -->
            <div class="field-group" align="center">
              <button id="formSubmit" type="submit" class="le-btn"><i class="fa fa-check"></i> {{ 'profile.login' | i18n }}</button>
            </div>
            <div class="field-group profile-secondary-links" align="center">
              <a href="{{ langRootUrl }}/profile-logon?{{ buildInfo.hash }}" class="btn">{{ 'profile.logon' | i18n }}</a>
              <a href="{{ langRootUrl }}/profile-restore-password?{{ buildInfo.hash }}" class="btn">{{ 'profile.forgotPassword' | i18n }}</a>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>

