{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

<div class="box">
  <div class="box-holder mt-2">
    <h2 align="center">{{ 'pages.profile' | i18n }}</h2>
    <!--
    <p class="mb-2" align="center">{{ 'profile.profileText' | i18n }}</p>
    -->

    <table class="fixed-table" width="100%">
      <thead>
        <th id="cell-orderNo"><div>{{ 'ordersTable.orderNo' | i18n }}</div></th>
        <th id="cell-orderDate"><div>{{ 'ordersTable.orderDate' | i18n }}</div></th>
        <th id="cell-orderPrice"><div>{{ 'ordersTable.orderPrice' | i18n }}</div></th>
        <th id="cell-tracking"><div>{{ 'ordersTable.tracking' | i18n }}</div></th>
        <th id="cell-orderStatus"><div>{{ 'ordersTable.orderStatus' | i18n }}</div></th>
        <th id="cell-paymentMethod"><div>{{ 'ordersTable.paymentMethod' | i18n }}</div></th>
        <th id="cell-paymentState"><div>{{ 'ordersTable.paymentState' | i18n }}</div></th>
        <th id="cell-delivery"><div>{{ 'ordersTable.delivery' | i18n }}</div></th>
      </thead>
      <tbody>
        {% for item in ordersList -%}
          <tr>
            <td id="cell-orderNo"><div>{{ item.orderNo }}</div></td>
            <td id="cell-orderDate"><div>{{ item.orderDate }}</div></td>
            <td id="cell-orderPrice"><div>{{ item.orderPrice }}</div></td>
            <td id="cell-tracking"><div>{{ item.tracking }}</div></td>
            <td id="cell-orderStatus"><div>{{ item.orderStatus }}</div></td>
            <td id="cell-paymentMethod"><div>{{ item.paymentMethod }}</div></td>
            <td id="cell-paymentState"><div>{{ item.paymentState }}</div></td>
            <td id="cell-delivery"><div>{{ item.delivery }}</div></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>
