{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

<section id="banners-mosaic" style="margin-top: 10px">
  <div class="container mosaic-holder">
    <div class="col-xs-12 no-padding">
      <div class="mosaic-banner full wow bounceInLeft">
        <a href="{{ langRootUrl }}/banner-link">
          <img alt="" src="/vendor/images/banner-slide-01.jpg" />
          <div class="caption">
            <h1>
              <span class="light">high heel</span><br>
              collection
            </h1>
            {#
            <a class="le-btn medium" href="#">{{ 'headerLinks.learnMore' | i18n }}</a>
            #}
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
