<div class="yamm-content">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h2 class="iconic-head">
        <span class="icon-holder">
          <i class="fa fa-home"></i>
          <span class="triangle"></span>
        </span>
        {{ 'headerLinks.homepages' | i18n }}</h2>
      <ul>
        <li>
          <a href="{{ langRootUrl }}/?{{ buildInfo.hash }}">{{ 'headerLinks.homepage' | i18n }}</a>
        </li>
        <li>
          <a href="{{ langRootUrl }}/test?{{ buildInfo.hash }}">{{ 'headerLinks.testPage' | i18n }}</a>
        </li>
      </ul>
      <h2 class="iconic-head">
        <span class="icon-holder">
          <i class="fa fa-files-o"></i>
          <span class="triangle"></span>
        </span>
        {{ 'headerLinks.products' | i18n }}</h2>
      <ul>
        <li>
          <a href="{{ langRootUrl }}/products-grid?{{ buildInfo.hash }}">{{ 'pages.productsGrid' | i18n }}</a>
        </li>
        <li>
          <a href="{{ langRootUrl }}/single-product?{{ buildInfo.hash }}">{{ 'pages.singleProduct' | i18n }}</a>
        </li>
        <li>
          <a href="{{ langRootUrl }}/products-search?{{ buildInfo.hash }}">{{ 'pages.productsSearch' | i18n }}</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-3">
      {% include "layout/page-header-pages-dropdown.njk" %}
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="mosaic-holder">
        <div class="mosaic-banner big">
          <img alt="" src="/vendor/images/mosaic/real/mosaic06.jpg" />
          <div class="caption">
            <h1>
              <span class="light">special</span><br>
              off
            </h1>
            <a class="le-btn big" href="#">{{ 'headerLinks.learnMore' | i18n }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
