  <li><a class="active" href="{{ langRootUrl }}/products-grid">{{ 'headerLinks.catalog' | i18n }}</a></li>
  <li><a href="{{ langRootUrl }}/delivery">{{ 'headerLinks.delivery' | i18n }}</a></li>
  <li><a href="{{ langRootUrl }}/wholesalers">{{ 'headerLinks.wholesalers' | i18n }}</a></li>
  <li><a href="{{ langRootUrl }}/contacts">{{ 'headerLinks.contacts' | i18n }}</a></li>

