  <li><a class="active" href="{{ langRootUrl }}/products-grid?{{ buildInfo.hash }}">{{ 'headerLinks.catalog' | i18n }}</a></li>
  <li><a href="{{ langRootUrl }}/delivery?{{ buildInfo.hash }}">{{ 'headerLinks.delivery' | i18n }}</a></li>
  <li><a href="{{ langRootUrl }}/wholesalers?{{ buildInfo.hash }}">{{ 'headerLinks.wholesalers' | i18n }}</a></li>
  <li><a href="{{ langRootUrl }}/contacts?{{ buildInfo.hash }}">{{ 'headerLinks.contacts' | i18n }}</a></li>

