{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

<ul class="link-list inline">
  {# Language selector #}
  <li>
    <div class="btn-group le-dropdown">
      <a class="dropdown-toggle" href="#" data-hover="dropdown">
        {{ langNames[lang] }}
      </a>
      <ul class="dropdown-menu">
        {% set pageUrl = page.url %}
        {% set purePageUrl = page.url.substring(lang.length + 1) if page.url.startsWith('/' + lang) else page.url %}
        {% if locales.length %}
          {% for locale in locales -%}
            {% set localePrefix = '/' + locale.code if locale.code !== defaultLang else '' %}
            <li><a href="{{ localePrefix }}{{ purePageUrl }}" rel="alternate" hreflang="{{ locale.code }}">{{ locale.label }}</a></li>
          {% endfor -%}
        {% endif %}
      </ul>
    </div>
  </li>
  <li>
    <div class="btn-group le-dropdown">
      <a class="dropdown-toggle" href="#" data-hover="dropdown">
        <i class="fa fa-{{ currencyId }}"></i> {{ currencyId }}
      </a>
      <ul class="dropdown-menu">
        <li><a href="#"><i class="fa fa-rub"></i> rub</a></li>
        <li><a href="#"><i class="fa fa-usd"></i> usd</a></li>
      </ul>
    </div>
  </li>
  {% if showProfile %}
  <li><a href="{{ langRootUrl }}/user/account">{{ 'headerLinks.myAccount' | i18n }}</a></li>
  <li><a href="{{ langRootUrl }}/user/wishlist">{{ 'headerLinks.myWishlist' | i18n }}</a></li>
  <li><a href="{{ langRootUrl }}/user/logout">{{ 'headerLinks.logOut' | i18n }}</a></li>
  {% else %}
  <li><a href="{{ langRootUrl }}/user/login">{{ 'headerLinks.logIn' | i18n }}</a></li>
  {% endif %}
</ul>
