<h2 class="iconic-head">
  <span class="icon-holder">
    <i class="fa fa-credit-card"></i>
    <span class="triangle"></span>
  </span>
  {{ 'headerLinks.checkout' | i18n }}</h2>
<ul>
  <li>
    <a href="{{ langRootUrl }}/shopping-cart">{{ 'headerLinks.cartPage' | i18n }}</a>
  </li>
  <li>
    <a href="{{ langRootUrl }}/checkout">{{ 'headerLinks.checkout' | i18n }}</a>
  </li>
  <li>
    <a href="{{ langRootUrl }}/payment-method">{{ 'headerLinks.choosePaymentMethod' | i18n }}</a>
  </li>
</ul>
<h2 class="iconic-head">
  <span class="icon-holder">
    <i class="fa fa-chain"></i>
    <span class="triangle"></span>
  </span>
  {{ 'headerLinks.otherLinks' | i18n }}</h2>
<ul>
  <li>
    <a href="#">Lorem ipsum dolor sit amet</a>
  </li>
  <li>
    <a href="#">consectetur adipiscing</a>
  </li>
  <li>
    <a href="#">Nunc cursus</a>
  </li>
  <li>
    <a href="#">auctor pellentesque</a>
  </li>
  <li>
    <a href="#">Lorem ipsum dolor sit amet</a>
  </li>
  <li>
    <a href="#">consectetur adipiscing</a>
  </li>
</ul>

