{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}
{% set currencyId = 'rub' if lang === 'ru' else 'usd' %}

<header class="page-header">
  <div class="container header-row">
    <div class="logo-cell col-xs-12 col-md-4">
      <div class="logo">
        <a href="{{ langRootUrl }}/?{{ buildInfo.hash }}" title="{{ 'site.name' | i18n }}">
          <img src="/images/logo/logo3-min.svg" alt="{{ 'site.name' | i18n }}" />
        </a>
      </div>
    </div>
    <div class="menu-cell col-xs-12 col-md-8 last-menu">
      <!-- Site top contacts menu -->
      {% include 'layout/page-top-contacts-menu.njk' %}
      <!-- Site top right menu -->
      {% include 'layout/page-top-right-menu.njk' %}
    </div>
  </div>
  <div class="container">
    <div class="top-nav-holder">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-7 nav-menu top-menu-holder">
          <nav class="hidden-xs visible-sm visible-lg visible-md">
            <!-- Site main menu... -->
            {% include 'layout/page-main-menu.njk' %}
          </nav>
        {#
          {% include "layout/page-header-mobile-dropdown.njk" %}
        #}
        </div>
        <div class="col-xs-9 col-sm-11 col-md-5 col-lg-4 no-margin search-holder">
          <!-- Site menu -->
          <div class="main-menu-block dropdown">
            <button id="main-menu-button dropdown-toggle" data-hover="dropdown" type="button" class="btn le-btn">
              <i class="icon-show fa fa-bars" title="{{ 'headerLinks.showMenu' | i18n }}"></i>
              <!--
              <i class="icon-hide fa fa-times" title="{{ 'headerLinks.hideMenu' | i18n }}"></i>
              -->
            </button>
            <div class="dropdown-menu">
              <ul class="nav">
                {% include "layout/main-menu-main-pages.njk" %}
              </ul>
            </div>
          </div>
          <!-- Search -->
          <div class="searchbox">
            <div class="field">
              <form>
                <input type="text" data-placeholder="{{ 'headerLinks.enterKeyword' | i18n }}" />
              </form>
            </div>
            <a href="" class="fa fa-search search-button"></a>
          </div>
        </div>
        <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1 basket-holder">
          <div class="basket">
            <div class="dropdown">
              <a class="dropdown-toggle" data-hover="dropdown" href="#">
                <div class="basket-icon">
                  <img class="svg" alt="basket" src="/vendor/images/basket.svg" />
                  <span class="item-count">
                    3
                  </span>
                </div>
              </a>
              <ul class="dropdown-menu">
                <!-- Cart items -->
                {% include 'layout/page-cart-items.njk' %}
                <!-- Empty cart info -->
                <li class="empty">
                  {{ 'headerLinks.emptyCart' | i18n }}
                </li>
                <!-- Cart actions (for non-empty one) -->
                <li class="checkout">
                  <div align="center">
                    <a href="{{ langRootUrl }}/shopping-cart?{{ buildInfo.hash }}" class="btn-add-to-wishlist le-btn">{{ 'headerLinks.showCart' | i18n }}</a>
                  </div>
                </li>
                <!-- Cart end -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
