<select class="mobile-dropdown selectpicker top-drop-menu nav hidden-md hidden-sm visible-xs hidden-lg" data-style="btn">
  {# Mobile droipdown menu... #}
  <option value="{{ langRootUrl }}/" selected="selected">{{ 'headerLinks.homepage' | i18n }}</option>
  <option value="{{ langRootUrl }}/products-grid">{{ 'headerLinks.catalog' | i18n }}</option>
  <option value="{{ langRootUrl }}/delivery">{{ 'headerLinks.delivery' | i18n }}</option>
  <option value="{{ langRootUrl }}/wholesalers">{{ 'headerLinks.wholesalers' | i18n }}</option>
  <option value="{{ langRootUrl }}/contacts">{{ 'headerLinks.contacts' | i18n }}</option>
  {% if site.showPagesMenu %}
  <optgroup label="{{ 'headerLinks.pages' | i18n }}">
    <option value="{{ langRootUrl }}/products-grid">{{ 'headerLinks.productsGridList' | i18n }}</option>
    <option value="{{ langRootUrl }}/single-product-sidebar">{{ 'headerLinks.singleProductSidebar' | i18n }}</option>
    <option value="{{ langRootUrl }}/single-product">{{ 'headerLinks.singleProduct' | i18n }}</option>
    <option value="{{ langRootUrl }}/profile-page">{{ 'headerLinks.profile' | i18n }}</option>
    <option value="{{ langRootUrl }}/shopping-cart">{{ 'headerLinks.cartPage' | i18n }}</option>
    <option value="{{ langRootUrl }}/checkout">{{ 'headerLinks.checkout' | i18n }}</option>
    {# <option value="{{ langRootUrl }}/payment-method">{{ 'headerLinks.choosePaymentMethod' | i18n }}</option> #}
  </optgroup>
  {% endif %}
</select>
