{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}
{% set currencyId = 'rub' if lang === 'ru' else 'usd' %}

{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

{% set currency = '₽' if lang === 'ru' else '$' %}
{# NOTE: To place currency sign after the price or before? #}
{% set currencyAfter = lang === 'ru' %}

{% for item in basketItems -%}
  <li>
    <div class="basket-item">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="thumb">
            <a href="{{ langRootUrl }}/single-product"><img alt="" src="{{ item.image }}" /></a>
            {# <img alt="" src="/vendor/images/products/products-on-white/product01.png" /> #}
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <div class="title"><a href="{{ langRootUrl }}/single-product">{{ item.name }}</a></div>
          <div class="priceBlock">
            <span class="text-label">{{ 'products.price' | i18n }}:</span> <span class="price">{% if not currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}{{ item.price }}{% if currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}</span>
          </div>
          <div class="countBlock"><span class="text-label">{{ 'products.count' | i18n }}:</span> {{ item.count }}</div>
        </div>
      </div>
      <a class="close-btn" href="#" title="{{ 'products.remove' | i18n }}"></a>
    </div>
  </li>
{% endfor %}
