<h2 class="iconic-head">
  <span class="icon-holder"><i class="fa fa-credit-card"></i><span class="triangle"></span></span>
  {{ 'pages.profile' | i18n }}</h2>
<ul>
  <li><a href="{{ langRootUrl }}/profile-page?{{ buildInfo.hash }}">{{ 'pages.profile' | i18n }}</a></li>
  <li><a href="{{ langRootUrl }}/profile-orders?{{ buildInfo.hash }}">{{ 'profile.myOrders' | i18n }}</a></li>
  <li><a href="{{ langRootUrl }}/profile-order?{{ buildInfo.hash }}">{{ 'profile.order' | i18n }}</a></li>
  <li><a href="{{ langRootUrl }}/profile-wishlist?{{ buildInfo.hash }}">{{ 'profile.myWishlist' | i18n }}</a></li>
  <li><a href="{{ langRootUrl }}/profile-login?{{ buildInfo.hash }}">{{ 'pages.profileLogIn' | i18n }}</a></li>
  <li><a href="{{ langRootUrl }}/profile-logon?{{ buildInfo.hash }}">{{ 'pages.profileLogOn' | i18n }}</a></li>
  <li><a href="{{ langRootUrl }}/profile-restore-password?{{ buildInfo.hash }}">{{ 'pages.profileRestorePassword' | i18n }}</a></li>
</ul>
<h2 class="iconic-head">
  <span class="icon-holder"><i class="fa fa-credit-card"></i><span class="triangle"></span></span>
  {{ 'headerLinks.checkout' | i18n }}</h2>
<ul>
  <li><a href="{{ langRootUrl }}/shopping-cart?{{ buildInfo.hash }}">{{ 'pages.shoppingCart' | i18n }}</a></li>
  <li><a href="{{ langRootUrl }}/checkout?{{ buildInfo.hash }}">{{ 'pages.checkout' | i18n }}</a></li>
  {# <li><a href="{{ langRootUrl }}/payment-method?{{ buildInfo.hash }}">{{ 'pages.paymentMethod' | i18n }}</a></li> #}
</ul>
{#
<h2 class="iconic-head">
  <span class="icon-holder"><i class="fa fa-chain"></i><span class="triangle"></span></span>
  {{ 'headerLinks.otherLinks' | i18n }}</h2>
<ul>
  <li><a href="#">Lorem ipsum dolor sit amet</a></li>
  <li><a href="#">consectetur adipiscing</a></li>
  <li><a href="#">Nunc cursus</a></li>
  <li><a href="#">auctor pellentesque</a></li>
  <li><a href="#">Lorem ipsum dolor sit amet</a></li>
  <li><a href="#">consectetur adipiscing</a></li>
</ul>
#}

