.orders-table {
  a:not(.le-btn) {
    color: var(--primary-color);
  }
  td > .le-btn {
    // display: block;
    text-align: center;
    white-space: nowrap;
    &[disabled] {
      opacity: .3;
      pointer-events: none;
      cursor: default;
    }
  }
  td#cell-order {
    .orderNo,
    .orderDate {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .orderNo {
      font-weight: bold;
      > .number {
        opacity: .5;
        font-weight: normal;
      }
    }
    .orderDate {
      opacity: .5;
      margin-top: 6px;
    }
  }
  th {
    > div {
      white-space: nowrap;
    }
  }
  td#cell-orderPrice {
    font-size: 20px;
    font-weight: 600 !important;
  }
  $cellStatusSize: 8px;
  @define-mixin cellWithStatusColor {
    white-space: nowrap;
    & > div > .status:before {
      content: ' ';
      display: inline-block;
      border-radius: 50%;
      height: $cellStatusSize;
      width: $cellStatusSize;
      margin-right: 4px;
      /* background-color: #999; */
      /* vertical-align: middle; */
    }
  }
  @define-mixin cellStatusColor $color {
    & > div > .status:before {
      background-color: $color;
    }
  }
  td#cell-paymentState,
  td#cell-orderStatus {

    // \<\(cell-paymentState\|cell-orderStatus\)\>
    // \<\(paid\|unpaid\|unknown\|cancelled\|confirmed\|unknown\|unpaid\|cancelled\|paid\|confirmed\)\>

    &.paid,
    &.unpaid,
    &.unknown,
    &.cancelled,
    &.confirmed {
      @mixin cellWithStatusColor;
    }
    &.unknown {
      @mixin cellStatusColor #999;
    }
    &.unpaid,
    &.cancelled {
      @mixin cellStatusColor var(--common-error-color);
    }
    &.paid,
    &.confirmed {
      @mixin cellStatusColor var(--common-success-color);
    }
  }
  .collapsedTitle {
    font-weight: normal;
    opacity: 0.5;
    margin-right: 4px;
    display: inline-block;
    // Show only on mobile screens
    @media (min-width: 768px) {
      display: none;
    }
  }
}
