.page-header {
  border: 0;
  padding-bottom: 0;
  margin: 0;
  margin-bottom: 20px;
  .logo-cell {
    padding: 10px 0;
  }
  .logo-cell {
    @media (min-width: 768px) {
      .logo {
        text-align: left;
      }
    }
  }
  .logo img {
    /* See other styles for `header .logo` in `src/static/vendor/css/stylesheet.css` */
    height: 50px;
    transition: all var(--transition-timeout);
  }
  .logo a:hover img {
    opacity: 0.7;
  }
  .link-list {
    margin: 10px 0;
  }
  .info-inline {
    &.on-black {
      a {
        color: #fff;
        &:hover {
          color: var(--secondary-color);
        }
      }
    }
    a {
      /* color: #fff; */
      opacity: 1;
      &:hover {
        color: var(--active-color);
        /* color: var(--secondary-color); */
      }
    }
  }
  .top-nav-holder .yamm-content ul > li > a {
    display: block;
    line-height: 1.5;
  }
  .header-row {
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
    }
    .last-menu {
      text-align: right;
      white-space: nowrap;
      display: flex;
      flex-direction: column;
    }
  }
  .top-menu-holder {
    .mobile-dropdown,
    nav {
      margin-left: 36px;
    }
  }
  .home-icon-button {
    position: absolute;
    left: 20px;
    top: 10px;
    color: #abb0ac;
    opacity: 0.5;
    z-index: 100;
    font-size: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}
