.page-header {
  border: 0;
  padding-bottom: 0;
  margin: 0;
  margin-bottom: 20px;
  .logo-cell {
    padding: 10px 0;
  }
  .logo-cell {
    @media (min-width: 768px) {
      .logo {
        text-align: left;
      }
    }
  }
  .logo img {
    /* See other styles for `header .logo` in `src/static/vendor/css/stylesheet.css` */
    height: 50px;
    transition: all var(--transition-timeout);
  }
  .logo a:hover img {
    opacity: 0.7;
  }
  .link-list {
    margin: 10px 0;
  }
  .info-inline {
    &.on-black {
      a {
        color: #fff;
        &:hover {
          color: var(--secondary-color);
        }
      }
    }
    a {
      opacity: 1;
      &:hover {
        color: var(--active-color);
      }
    }
  }
  .top-nav-holder .yamm-content ul > li > a {
    display: block;
    line-height: 1.5;
  }
  .header-row {
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
    }
    .last-menu {
      text-align: center;
      @media (min-width: 768px) {
        text-align: right;
      }
      white-space: nowrap;
      display: flex;
      flex-direction: column;
    }
  }
  .home-icon-button {
    position: absolute;
    left: 20px;
    top: 10px;
    color: #abb0ac;
    opacity: 0.5;
    z-index: 100;
    font-size: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .search-holder {
    display: flex;
    align-items: center;
    gap: 10px;
    .main-menu-block {
      margin-left: 10px;
      // width: 49px;
      @media (min-width: 768px) {
        display: none;
      }
      .dropdown-menu {
        .nav {
          // padding: 10px;
          li {
            margin: 5px 0;
            font-size: 13px;
            text-transform: uppercase;
            // line-height: 29px;
            a {
              padding-top: 5px;
              padding-bottom: 5px;
            }
          }
        }
      }
    }
    .searchbox {
      flex: 1;
    }
  }

  /* Basket & search row */
  @media all and (max-width: 299px) {
    .search-holder,
    .basket-holder {
      width: 100%;
    }
    .basket-holder .basket .dropdown-menu {
      width: 100%;
      left: 0%;
    }
    /* // Adaptive text sizes aren't used.
    .top-nav-holder .basket-holder .basket .basket-item .title {
      font-size: 19px;
    }
    .top-nav-holder .basket-holder .basket .basket-item .price {
      font-size: 15px;
    }
    */
  }
  @media all and (min-width: 300px) and (max-width: 991px) {
    /* Remove extra inner paddings... */
    .search-holder {
      padding-right: 0 !important;
    }
    .basket-holder {
      padding-left: 0 !important;
    }
    /* Widths... /*/
    $basketWidth: 80px;
    .search-holder {
      width: calc(100% - $basketWidth);
    }
    .basket-holder {
      width: $basketWidth;
    }
  }
}
