.products-holder {
  /* Set product card layout */
  &.simple-grid,
  &.product-carousel .owl-wrapper {
    display: flex !important;
    align-items: stretch;
    .product-wrapper,
    .body,
    .product-item,
    .owl-item {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      align-content: stretch;
      justify-content: stretch;
    }
    .body,
    .product-item {
      flex: 1;
    }
    .body {
      justify-content: space-between;
    }
  }
  &.simple-grid {
    &, .row {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
    }
  }
  &.list-view {
    .product-item.wide {
      @media (min-width: 992px) {
        .row, .row > * {
          display: flex;
          flex-wrap: nowrap;
          align-items: stretch;
        }
        .body,
        .head {
          height: auto;
          max-height: none;
          flex: 1;
        }
        .body {
          border-left: 0;
        }
      }
    }
  }
}

.section-products-grid {
  .grid-list-buttons {
    white-space: nowrap;
  }
}
