.product-item {
  position: relative;
  .floated-actions {
    position: absolute;
    $padding: 8px;
    left: $padding;
    top: $padding;
    button {
      border: none;
      background: transparent;
      &.icon-btn {
        padding: 5px 8px;
      }
      .fa {
        color: var(--primary-color);
        font-size: 125%;
        /* font-size: 18px; [> From btn-iconic <] */
      }
      opacity: .7;
      transition: all var(--transition-timeout);
      &:hover {
        opacity: 1;
      }
    }
  }
  .merged-buttons {
    margin-top: 0;
    margin-bottom: 0;
  }
  div.body {
    padding: 15px;
    .excerpt,
    h3 {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .head .thumb {
    height: var(--product-item-height);
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  :hover .thumb img {
    transform: scale(1.1);
    opacity: 0.9;
  }

  /* .head .star-holder {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 8px;
    border-radius: 20px;
    &:hover {
      background-color: var(--secondary-color);
    }
  } */
  &.wide {
    .body {
      h3 {
        /** Add space for stars */
        /* padding-right: 110px; */
      }
    }
  }
}
