.product-item {
  position: relative;
  .floated-actions {
    position: absolute;
    $padding: 8px;
    left: $padding;
    top: $padding;
    button {
      border: none;
      background: transparent;
      &.icon-btn {
        padding: 5px 8px;
      }
      .fa {
        color: var(--primary-color);
        font-size: 125%;
        /* font-size: 18px; [> From btn-iconic <] */
      }
      opacity: 0.7;
      transition: all var(--transition-timeout);
      &:hover {
        opacity: 1;
      }
    }
  }
  .merged-buttons {
    margin-top: 0;
    margin-bottom: 0;
  }
  div.body {
    padding: 15px;
    .excerpt,
    h3 {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .head .thumb {
    height: var(--product-item-height); // ???
    @media (max-width: 767.9px) {
      height: 150px;
    }
    @media (max-width: 400px) {
      height: 120px;
    }
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  :hover .thumb img {
    transform: scale(1.1);
    opacity: 0.9;
  }
}

.product-item {
  width: 100%;
}

.products-holder { // .product-carousel .owl-wrapper .owl-item {
  @media (max-width: 767.9px) {
    align-items: center !important;
    .product-item {
      .body {
        h3 {
          font-size: 14px;
        }
      }
    }
  }
  @media (max-width: 599.9px) {
    .product-item {
      .body {
        .price-plain {
          flex-direction: row;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }
  // @media (max-width: 399.9px) {
  //   .product-item {
  //     .body {
  //     }
  //   }
  // }
}
