section#breadcrumb {
  .container {
    display: flex;
    align-items: flex-start;
    @media (max-width: 500px) {
      flex-direction: column;
    }
  }
  .le-breadcrumb {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    position: relative;
  }
  .le-backlink {
    margin-top: 8px;
    background-color: var(--milky);
    padding: 3px 8px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
  }
  /* No-icon mode */
  &.no-icon {
    margin-top: 30px;
    .le-backlink {
      margin-top: 0;
    }
  }
  .iconic-nav-bar.no-icon {
    .bar {
      margin-bottom: 10px;
      padding-left: 10px;
      left: auto;
    }
  }
}
