.section-footer {
  .container {
    .footer-background {
      padding-top: 40px;
      padding-bottom: 30px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }
  .footer-links-holder {
    li {
      display: flex;
      align-items: center;
    }
  }
}

/* Footer styles */
.footer-background {
  background-color: #f0f0f1;
  width: 100%;
  &:before,
  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}
