#section-profile-orders-list {
  .totalSum {
    padding: 20px 8px; /* var(--fixed-table-td-padding-h-at-edges); */
    .totalLabel {
      font-size: 16px;
      /* opacity: .5; */
    }
    .price {
      font-size: 20px;
      font-weight: 600 !important;
    }
  }
}
