#breadcrumb {
  .container {
    display: flex;
    align-items: flex-start;
  }
  .le-breadcrumb {
    flex: 1;
  }
  .le-backlink {
    margin-top: 8px;
    background-color: var(--milky);
    padding: 3px 8px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
  }
}
