#profile-orders-list-table {
  button {
    white-space: nowrap;
    $padding: 6px;
    padding-left: $padding;
    padding-right: $padding;
  }
}
.orderSummaryBlock {
  display: flex;
  align-items: center;
  padding: 20px 8px;
}
.totalSum {
  flex: 1;
  .totalLabel {
    font-size: 16px;
    /* opacity: .5; */
  }
  .price {
    font-size: 20px;
    font-weight: 600 !important;
  }
}
