.shopping-cart-page {
  &.box {
    // background-color: var(--product-item-background);
  }
}
#shopping-cart-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  table {
    .desc {
      overflow: hidden;
      text-overflow: ellipsis;
      * {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .le-quantity {
    padding: 0;
    width: auto;
    input {
      padding: 2px;
    }
  }
  .actions {
    display: flex;
    align-items: center;
    // @media ($fixedTableNonAdaptiveMedia) {
    justify-content: flex-end;
    // }
    gap: 5px;
    button {
      .fa {
        font-size: 14px;
      }
      white-space: nowrap;
      @media (max-width: 768px) {
        // Show only icon in a square button...
        span {
          display: none;
        }
        height: 33px;
        width: 33px;
        padding: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  // Adjust table...

  table {
    flex: 1;
    // Set minimal width to enable scroll with `fixed-table-scroll-wrapper`
    min-width: 600px;
  }

  th > div {
    white-space: nowrap;
  }
  td {
    h3 {
      font-size: 14px;
    }
    // Product description
    .desc {
      h3 + div {
        margin-top: 4px;
      }
    }
  }

  // @media ($fixedTableNonAdaptiveMedia) {
  .totalSum {
    font-size: 16px;
    line-height: 1.2;
    margin-top: 5px;
  }
  .totalSum .price,
  td.col-total,
  td.col-price {
    font-size: 20px;
    font-weight: 600;
  }
  td.col-preview { padding-right: 10px; }

  .col-preview { width: 10em; }
  // .col-product { }
  .col-price { width: 9em; }
  .col-inStock { width: 8em; }
  .col-quantity { width: 9em; }
  .col-total { width: 9em; }
  .col-actions { width: 4em; } // Narrow actions column
  &.wide-action-column .col-actions { // Wide actions column
    width: 14em;
    @media (max-width: 768px) { // With compact icons (see rules above)
      width: 8em;
    }
  }

  .col-product h3 {
    text-transform: none;
  }

  .col-quantity,
  .col-inStock,
  .col-price,
  .col-total {
    text-align: center;
  }

  .orderSummaryBlock {
    margin-top: 10px;
  }

  // Customize columns for mobile devices
  @media (max-width: 992px) {
    .col-inStock { width: 6em; }
    .col-price { width: 6em; }
    .col-total { width: 6em; }
  }
  // Display as a non-table on narrow screens
  @media (max-width: 768px) {
    .fixed-table-scroll-wrapper {
      overflow: visible;
    }
    table {
      tbody,
      thead,
      tr,
      th,
      td,
      & {
        display: block;
        min-width: auto;
      }
      thead {
        display: none;
      }
      tr {
        padding-right: 50px;
        border-bottom: 1px solid rgb(0 0 0 / 10%);
        position: relative;
        overflow: hidden;
        // display: flex;
        &:after {
          clear: both;
          content: '';
          display: block;
        }
      }
      td {
        float: left;
        border: none;
        width: auto !important;
        text-align: left !important;
      }
      .price {
        padding: 1px 0;
      }
      .col-product {
        width: 100% !important;
        &:after {
          clear: both;
          content: '';
          display: block;
        }
      }
      .col-actions {
        position: absolute;
        top: 0;
        right: 0;
      }
      .col-preview {
        position: absolute;
        left: 0;
        right: 0;
      }
      // Adaptive sizes for preview image and main content padding...
      @media (max-width: 255.99px) {
        .col-preview {
          display: none;
        }
      }
      @media (min-width: 260px) {
        $previewWidth: 120px;
        $previewWidthMd: 90px;
        $previewWidthSm: 60px;
        & {
          tr {
            padding-left: $previewWidth;
            min-height: $previewWidth;
          }
          .col-preview {
            width: $previewWidth !important;
          }
        }
        @media (max-width: 480px) {
          tr {
            padding-left: $previewWidthMd;
            min-height: $previewWidthMd;
          }
          .col-preview {
            width: $previewWidthMd !important;
          }
        }
        @media (max-width: 380px) {
          tr {
            padding-left: $previewWidthSm;
            min-height: $previewWidthSm;
          }
          .col-preview {
            width: $previewWidthSm !important;
          }
        }
      }
    }
  }
}
