#single-product {
  .owl-carousel {
    .owl-wrapper {
      display: flex !important;
      align-items: center;
    }
    .owl-item {
      text-align: center;
    }
  }
  .body-holder .desc {
    line-height: 1.5;
  }
  & {
    background-color: var(--product-item-background);
  }
}
