#single-product {
  .owl-carousel {
    .owl-wrapper {
      display: flex !important;
      align-items: center;
    }
    .owl-item {
      text-align: center;
    }
  }
  .body-holder .desc {
    line-height: 1.5;
  }
  & {
    background-color: var(--product-item-background);
  }
  @media (max-width: 768px) {
    .padded-buttons,
    .merged-buttons {
      display: flex;
      > button {
        flex: 1;
      }
    }
  }
  .merged-buttons {
    white-space: nowrap;
    @media (max-width: 460px) {
      button.heart {
        flex: 0;
        span {
          display: none;
        }
      }
    }
  }
}
