<div id="main-products-menu" class="main-products-menu">
  {# Main products menu #}
  <div id="main-products-menu-content" class="products-controls-item accordion-widget category-accordion widget">
    <h2>{{ 'products.categories' | i18n }}</h2>
    <div class="accordion">
      {# Main products menu content #}
      {% include "catalogue/section-products-menu-content.njk" %}
    </div>
  </div>
</div>
