<div id="main-products-menu" class="main-products-menu">
  {# Main products menu #}
  <div id="main-products-menu-content" class="products-controls-item accordion-widget category-accordion widget">
    <h2>{{ 'products.tags' | i18n }}</h2>
    {% include "catalogue/tags-list.njk" %}
  </div>
</div>
