<!-- See parent container `.products-controls-group` -->
<button id="products-controls-button" type="button" class="btn le-btn">
  <i class="icon-show fa fa-bars" title="{{ 'products.showDetails' | i18n }}"></i>
  <i class="icon-hide fa fa-times" title="{{ 'products.hideDetails' | i18n }}"></i>
</button>

