{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

{% set productColumns = 'col-xs-12 col-sm-6 col-md-6 col-lg-4' %}
{% set productColumns = 'col-xs-12 col-sm-6 col-md-4 col-lg-3' %}

{% set currency = '₽' if lang === 'ru' else '$' %}
{# NOTE: To place currency sign after the price or before? #}
{% set currencyAfter = lang === 'ru' %}

<section id="bestsellers">
  <div class="container no-padding">
    <div class="iconic-nav-bar no-icon">
      {# Removed icon: Issue #13
      <div class="icon-holder">
        <i class="fa fa-dollar"></i>
        <span class="triangle"></span>
      </div>
      #}
      <div class="bar">
        <h2>{{ 'sections.bestSellers' | i18n | safe }}</h2>
      </div>
    </div>
    <div class="products-holder simple-grid">

      {% for item in bestsellerProducts -%}
        <div class="product-wrapper {{ productColumns }}">
          <div class="product-item">
            <div class="head">
              {% if item.extra %}
                {{ item.extra | safe }}
              {% endif %}
              <div class="thumb">
                <a href="{{ langRootUrl }}/single-product"><img alt="" src="{{ item.image }}" /></a>
              </div>
              {# Issue #13: Removed price as overlay
              <div class="price">
                {% if item.priceOld %}
                <div class="price-old">
                  {% if not currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}{{ item.priceOld }}{% if currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}
                </div>
                {% endif %}
                <div class="price-current">
                  {% if not currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}{{ item.price }}{% if currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}
                </div>
              </div>
              #}
              {# Issue #13: Removed ratings
              <div class="star-holder">
                <div class="star" data-score="{{ item.stars }}"></div>
              </div>
              #}
              {# Issue #13: Removed compare buttons
              <button class="btn-compare btn-iconic"></button>
              #}
            </div>
            <div class="body">
              <h3><a href="{{ langRootUrl }}/single-product">{{ item.name }}</a></h3>
              <div class="excerpt">
                {{ item.excerpt }}
              </div>
              <div class="price-plain">
                <div class="price-current">
                  {% if not currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}{{ item.price }}{% if currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}
                </div>
                {% if item.priceOld %}
                <div class="price-old">
                  {% if not currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}{{ item.priceOld }}{% if currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}
                </div>
                {% endif %}
              </div>
              <div class="merged-buttons">
                <button class="btn-add-to-cart le-btn btn-iconic">{{ 'products.toCartWide' | i18n }}</button>
                <button class="btn-add-to-wishlist le-btn btn-iconic">{{ 'products.wishlist' | i18n }}</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor -%}

    </div>
  </div>
</section>
