{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

<div class="section-products-navigation controller-nav-bar row">
  <div class="col-xs-12">

    <!-- Pagination -->
    <button type="button" class="btn"><i class="fa fa-caret-left"></i></button>
    <!-- Current page -->
    <button type="button" class="btn le-btn">1</button>
    <button type="button" class="btn">2</button>
    <button type="button" class="btn">3</button>
    <span>...</span>
    <button type="button" class="btn"><i class="fa fa-caret-right"></i></button>

  </div>
</div>
