{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

<div class="section-products-controls controller-nav-bar row">

  {# Filter / pagination controls #}
  <div class="col-xs-12">
    <nobr>
      <label class="ctrl-item" for="section-products-controls-sort">{{ 'products.foundByRequest' | i18n }}</label>
      <span>XXX</span>
    </nobr>
  </div>

</div>
