{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

{% set productColumns = 'col-xs-6 col-sm-6 col-md-6 col-lg-4' %}

{% set currency = '₽' if lang === 'ru' else '$' %}
{# NOTE: To place currency sign after the price or before? #}
{% set currencyAfter = lang === 'ru' %}

<section id="products-grid-sidebar" class="section-products-grid products-controls-group_">
  <div class="container no-padding">
    <div class="section-products-grid-sidebar col-xs-12 col-md-3">
      <div class="sidebar">
        {# {% include "catalogue/products-controls-button.njk" %} #}
        {% include "catalogue/main-products-menu.njk" %}
      </div>
    </div>
    <div class="section-products-grid-content col-xs-12 col-md-9">
      {% include "catalogue/section-products-controls.njk" %}
      {# TODO: Make one template for `section-products-search` and `section-products-grid` #}
      <div class="product-grid tab-content">
        <!-- Grid view mode -->
        <div id="grid-view" class="tab-pane active">
          <div  class="products-holder simple-grid">
            <div class="row">

              {% for item in bestsellerProducts -%}

                <div class="product-wrapper {{ productColumns }}">
                  <div class="product-item">
                    <div class="head">
                      {% if item.extra %}
                        {{ item.extra | safe }}
                      {% endif %}
                      <div class="thumb">
                        <a href="{{ langRootUrl }}/single-product?{{ buildInfo.hash }}"><img alt="" src="{{ item.image }}" /></a>
                      </div>
                      <div class="floated-actions">
                        <button class="btn icon-btn" title="{ 'products.wishlist' | i18n }"><i class="fa fa-{% if item.favorite %}heart{% else %}heart-o{% endif %}"></i></button>
                      </div>
                    </div>
                    <div class="body">
                      <h3><a href="{{ langRootUrl }}/single-product?{{ buildInfo.hash }}">{{ item.name }}</a></h3>
                      <!--
                      <div class="excerpt">
                        {{ item.excerpt }}
                      </div>
                      -->
                      <div class="price-and-buttons">
                        <div class="price-plain">
                          {% if item.priceOld %}
                          <div class="price-old">
                            {% if not currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}{{ item.priceOld }}{% if currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}
                          </div>
                          {% endif %}
                          <div class="price-current">
                            {% if not currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}{{ item.price }}{% if currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}
                          </div>
                        </div>
                        <button class="btn-add-to-cart le-btn btn-iconic">{{ 'products.toCartWide' | i18n }}</button>
                        <!--
                        <div class="merged-buttons">
                          <button class="btn-add-to-cart_ le-btn btn-iconic_">{{ 'products.toCartWide' | i18n }}</button>
                          <button class="btn-add-to-wishlist le-btn btn-iconic">{#{ 'products.wishlist' | i18n }#}</button>
                        </div>
                        -->
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor -%}

            </div>
          </div>
        </div>
        <!-- List view mode -->
        <div id="list-view" class="tab-pane">
          <div  class="products-holder list-view">

              {% for item in bestsellerProducts -%}

                <div class="product-item wide">
                  <div class="row">
                    <div class="col-xs-12 col-md-4 no-margin">
                      <div class="head">
                        {% if item.extra %}
                          {{ item.extra | safe }}
                        {% endif %}
                        <div class="thumb">
                          <a href="{{ langRootUrl }}/single-product?{{ buildInfo.hash }}">
                            <a href="{{ langRootUrl }}/single-product?{{ buildInfo.hash }}"><img alt="" src="{{ item.image }}" /></a>
                          </a>
                        </div>
                        <div class="floated-actions">
                          <button class="btn icon-btn" title="{ 'products.wishlist' | i18n }"><i class="fa fa-{% if item.favorite %}heart{% else %}heart-o{% endif %}"></i></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-8 no-margin">
                      <div class="body">
                        <h3><a href="{{ langRootUrl }}/single-product?{{ buildInfo.hash }}">{{ item.name }}</a></h3>
                        <!--
                        <div class="excerpt">
                          {{ item.excerpt }}
                        </div>
                        -->
                        <div class="price-and-buttons">
                          <div class="price-plain">
                            {% if item.priceOld %}
                            <div class="price-old">
                              {% if not currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}{{ item.priceOld }}{% if currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}
                            </div>
                            {% endif %}
                            <div class="price-current">
                              {% if not currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}{{ item.price }}{% if currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}
                            </div>
                          </div>
                          <button class="btn-add-to-cart le-btn btn-iconic">{{ 'products.toCartWide' | i18n }}</button>
                          <!--
                          <div class="merged-buttons">
                            <button class="btn-add-to-cart_ le-btn btn-iconic_">{{ 'products.toCartWide' | i18n }}</button>
                            <button class="btn-add-to-wishlist le-btn btn-iconic">{#{ 'products.wishlist' | i18n }#}</button>
                          </div>
                          -->
                        </div>
                        {#
                        <div class="price-plain">
                          <div class="price-current">
                            {% if not currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}{{ item.price }}{% if currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}
                          </div>
                          {% if item.priceOld %}
                          <div class="price-old">
                            {% if not currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}{{ item.priceOld }}{% if currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}
                          </div>
                          {% endif %}
                        </div>
                        <div class="buttons-holder">
                          <button class="btn-add-to-cart le-btn btn-iconic">{{ 'products.addToCart' | i18n }}</button>
                        </div>
                        #}
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor -%}

          </div>
        </div>
      {% include "catalogue/section-products-pagination.njk" %}
      </div>

    </div>
  </div>
</section>
