{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

<section id="featured-products">
  <div class="container no-padding">
    <div class="iconic-nav-bar no-icon">
      {# Removed icon: Issue #13
      <div class="icon-holder">
        <i class="fa fa-star"></i>
        <span class="triangle"></span>
      </div>
      #}
      <div class="bar">
        <h2>{{ 'sections.featuredProducts' | i18n | safe }}</h2>
        <div class="nav-buttons">
          <a class="btn-prev" href="#prev"></a>
          <a class="btn-next" href="#next"></a>
        </div>
      </div>
    </div>
    <div class="products-holder product-carousel owl-carousel">

      {% set currency = '₽' if lang === 'ru' else '$' %}

      {% for item in featuredProducts -%}
        <div class="product-item">
          <div class="head">
            {% if item.extra %}
              {{ item.extra | safe }}
            {% endif %}
            <div class="thumb">
              <img alt="" src="{{ item.image }}" />
            </div>
            {# Issue #13: Removed price as overlay
            <div class="price">
              {% if item.priceOld %}
              <div class="price-old">
                <span class="currency">{{ currency }}</span>{{ item.priceOld }}
              </div>
              {% endif %}
              <div class="price-current">
                <span class="currency">{{ currency }}</span>{{ item.price }}
              </div>
            </div>
            #}
            <div class="star-holder">
              <div class="star" data-score="{{ item.stars }}"></div>
            </div>
            <button class="btn-compare  btn-iconic"></button>
          </div>
          <div class="body">
            <h3><a href="{{ langRootUrl }}/single-product">{{ item.name }}</a></h3>
            <div class="excerpt">
              {{ item.excerpt }}
            </div>
            <div class="price-plain">
              <div class="price-current">
                <span class="currency">{{ currency }}</span>{{ item.price }}
              </div>
              {% if item.priceOld %}
              <div class="price-old">
                <span class="currency">{{ currency }}</span>{{ item.priceOld }}
              </div>
              {% endif %}
            </div>
            <div class="merged-buttons">
              <button class="btn-add-to-cart le-btn btn-iconic">{{ 'products.toCartWide' | i18n }}</button>
              <button class="btn-add-to-wishlist le-btn btn-iconic">{{ 'products.wishlist' | i18n }}</button>
            </div>
          </div>
        </div>
      {% endfor -%}


    </div>
  </div>
</section>
