<div class="no-margin col-xs-12 col-sm-5 gallery-holder">
  <div class="product-item-holder size-big single-product-gallery small-gallery">

    <div class="icon-holder small">
      <i class="fa fa-search-plus "></i>
      <span class="triangle"></span>
    </div>

    <div class="single-product-slider">
      <div class="single-product-gallery-item" id="slide1">
        <a data-rel="prettyphoto" href="images/products/product-gallery-01.jpg">
          <img class="lazy" alt="" src="/vendor/images/products/product-gallery-01.jpg" />
        </a>
      </div>
      <div class="single-product-gallery-item" id="slide2">
        <a data-rel="prettyphoto" href="images/products/product-gallery-02.jpg">
          <img class="lazy" alt="" src="/vendor/images/products/product-gallery-02.jpg" />
        </a>
      </div>
      <div class="single-product-gallery-item" id="slide3">
        <a data-rel="prettyphoto" href="images/products/product-gallery-03.jpg">
          <img class="lazy" alt="" src="/vendor/images/products/product-gallery-03.jpg" />
        </a>
      </div>
      <div class="single-product-gallery-item" id="slide4">
        <a data-rel="prettyphoto" href="images/products/product-gallery-04.jpg">
          <img class="lazy" alt="" src="/vendor/images/products/product-gallery-04.jpg" />
        </a>
      </div>
    </div>

    <div class="gallery-thumbs">
      <ul>
        <li class="active">
          <a class="horizontal-thumb" href="#slide1">
            <img class="lazy" alt="" src="/vendor/images/products/gallery-thumb-01.jpg" />
          </a>
        </li>
        <li >
          <a class="horizontal-thumb " href="#slide2">
            <img class="lazy" alt="" src="/vendor/images/products/gallery-thumb-02.jpg" />
          </a>
        </li>
        <li>
          <a class="horizontal-thumb" href="#slide3">
            <img class="lazy" alt="" src="/vendor/images/products/gallery-thumb-03.jpg" />
          </a>
        </li>
        <li>
          <a class="horizontal-thumb" href="#slide4">
            <img class="lazy" alt="" src="/vendor/images/products/gallery-thumb-04.jpg" />
          </a>
        </li>
        <li>
          <a class="horizontal-thumb" href="#slide1">
            <img class="lazy" alt="" src="/vendor/images/products/gallery-thumb-01.jpg" />
          </a>
        </li>
        <li >
          <a class="horizontal-thumb " href="#slide2">
            <img class="lazy" alt="" src="/vendor/images/products/gallery-thumb-02.jpg" />
          </a>
        </li>
        <li>
          <a class="horizontal-thumb" href="#slide3">
            <img class="lazy" alt="" src="/vendor/images/products/gallery-thumb-03.jpg" />
          </a>
        </li>
        <li>
          <a class="horizontal-thumb" href="#slide4">
            <img class="lazy" alt="" src="/vendor/images/products/gallery-thumb-04.jpg" />
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
