<section class="section-review-comment">
  <div class="tabbable tabs-left">
    <div class="row">
      <div class="col-xs-12 col-sm-4 no-margin">
        <ul class="nav nav-tabs ">
          <li  class="active"><a href="#editor-review" data-toggle="tab">{{ 'singleProduct.editorReview' | i18n }}</a></li>
            <li><a href="#return" data-toggle="tab">{{ 'singleProduct.returnPolicy' | i18n }}</a></li>
          <li><a href="#description" data-toggle="tab">{{ 'singleProduct.description' | i18n }}</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-8 no-margin ">
        <!-- Tab panes -->
        <div class="tab-content ">
          <div class="tab-pane active " id="editor-review">
               <h3 class="inline">{{ 'singleProduct.highQualityAndComfort' | i18n }}</h3>
               <div class="star-holder pull-right">
                <div class="star" data-score="2"></div>
              </div>
              <hr>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis orci id tellus consequat facilisis. Phasellus dapibus nibh et erat aliquam, fermentum auctor risus ultrices. Maecenas lobortis elit sed tempus volutpat. Donec ultricies fringilla leo ac consequat.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis orci id tellus consequat facilisis. Phasellus dapibus nibh et erat aliquam, fermentum auctor risus ultrices. Maecenas lobortis elit sed tempus volutpat. Donec ultricies fringilla leo ac consequat.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis orci id tellus consequat facilisis. Phasellus dapibus nibh et erat aliquam, fermentum auctor risus ultrices. Maecenas lobortis elit sed tempus volutpat. Donec ultricies fringilla leo ac consequat.
              </p>
            </div>
             <div class="tab-pane " id="return">
             <h3>{{ 'singleProduct.returnPolicy' | i18n }}</h3>
             <hr>
              <p>
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
              </p>
          </div>
          <div class="tab-pane" id="description">
              <h3>{{ 'singleProduct.description' | i18n }}</h3>
              <hr>
              <p>
             It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis blandit interdum velit id viverra. Nunc sed dictum diam, sed interdum elit. Quisque quis dui id nulla malesuada viverra id in ante. Suspendisse potenti. Cras a purus id leo molestie pulvinar. Curabitur nec neque enim. Integer ornare sagittis diam a aliquam. Donec nec lorem lectus.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
