{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

{% set showOpen = false %}
{% set toggleClass = 'accordion-toggle' if showOpen else 'accordion-toggle collapsed' %}
{% set bodyClass = 'accordion-body collapse in' if showOpen else 'accordion-body collapse' %}

<div class="accordion-group">
  <div class="accordion-heading">
    <a class="{{ toggleClass }}" data-toggle="collapse" href="#decals">
      {{ 'productsMenu.decals' | i18n }}
    </a>
  </div>
  <div id="decals" class="{{ bodyClass  }}">
    <div class="accordion-inner">
      <ul>
        <li><a href="{{ langRootUrl }}/products/decals/aircrafts?{{ buildInfo.hash }}">{{ 'productsMenu.aircrafts' | i18n }}</a></li>
        <li><a href="{{ langRootUrl }}/products/decals/helicopters?{{ buildInfo.hash }}">{{ 'productsMenu.helicopters' | i18n }}</a></li>
        <li><a href="{{ langRootUrl }}/products/decals/cars?{{ buildInfo.hash }}">{{ 'productsMenu.cars' | i18n }}</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="accordion-group">
  <div class="accordion-heading">
    <a class="{{ toggleClass }}" data-toggle="collapse" href="#scale">
      {{ 'productsMenu.scale' | i18n }}
    </a>
  </div>
  <div id="scale" class="{{ bodyClass }}">
    <div class="accordion-inner">
      <ul>
        <li><a href="{{ langRootUrl }}/products/scale/1-32">1/32</a></li>
        <li><a href="{{ langRootUrl }}/products/scale/1-48">1/48</a></li>
        <li><a href="{{ langRootUrl }}/products/scale/1-144">1/144</a></li>
        <li><a href="{{ langRootUrl }}/products/scale/1-24">1/24</a></li>
        <li><a href="{{ langRootUrl }}/products/scale/1-35">1/35</a></li>
        <li><a href="{{ langRootUrl }}/products/scale/1-43">1/43</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="accordion-group">
  <div class="accordion-heading">
    <a class="{{ toggleClass }}" data-toggle="collapse" href="#discounts">
      {{ 'productsMenu.discounts' | i18n }}
    </a>
  </div>
  <div id="discounts" class="{{ bodyClass }}">
    <div class="accordion-inner">
      <ul>
        <li><a href="{{ langRootUrl }}/products/discounts/new?{{ buildInfo.hash }}">{{ 'productsMenu.new' | i18n }}</a></li>
        <li><a href="{{ langRootUrl }}/products/discounts/hits?{{ buildInfo.hash }}">{{ 'productsMenu.hits' | i18n }}</a></li>
      </ul>
    </div>
  </div>
</div>
