{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

{% set productColumns = 'col-xs-12 col-sm-6 col-md-6 col-lg-4' %}
{% set productColumns = 'col-xs-12 col-sm-6 col-md-4 col-lg-3' %}

{% set currency = '₽' if lang === 'ru' else '$' %}
{# NOTE: To place currency sign after the price or before? #}
{% set currencyAfter = lang === 'ru' %}

<section id="tags">
  <div class="container no-padding">
    <div class="iconic-nav-bar no-icon">
      <div class="bar">
        <h2>{{ 'products.tags' | i18n | safe }}</h2>
      </div>
    </div>
    <div class="tags-holder">
      {% include "catalogue/tags-list.njk" %}
    </div>
  </div>
</section>
