{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

<div class="section-products-navigation controller-nav-bar row">
  <div class="col-xs-12">

    <button type="button" class="btn btn-inverse bold">
      <i class="fa fa-arrow-left"></i>
    </button>
    <button type="button" class="btn btn-inverse bold">
      1
    </button>
    <button type="button" class="btn btn-inverse bold">
      2
    </button>
    <button type="button" class="btn btn-inverse bold">
      3
    </button>
    ...
    <button type="button" class="btn btn-inverse">
      <i class="fa fa-arrow-right"></i>
    </button>

  </div>
</div>
