{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

<section id="bestsellers">
  <div class="container">
    <div class="iconic-nav-bar">
      <div class="icon-holder">
        <i class="fa fa-dollar"></i>
        <span class="triangle"></span>
      </div>
      <div class="bar">
        <h2>{{ 'sections.bestSellers' | i18n | safe }}</h2>
      </div>
    </div>
    <div class="products-holder simple-grid">

      {% set productColumns = 'col-xs-12 col-sm-6 col-md-6 col-lg-4' %}
      {% set currency = '₽' if lang === 'ru' else '$' %}

      {% for item in bestsellerProducts -%}
        <div class="product-wrapper {{ productColumns }}">
          <div class="product-item">
            <div class="head">
              {% if item.extra %}
                {{ item.extra | safe }}
              {% endif %}
              <div class="thumb">
                <img alt="" src="{{ item.image }}" />
              </div>
              <div class="price">
                {% if item.priceOld %}
                <div class="price-old">
                  <span class="currency">{{ currency }}</span>{{ item.priceOld }}
                </div>
                {% endif %}
                <div class="price-current">
                  <span class="currency">{{ currency }}</span>{{ item.price }}
                </div>
              </div>
              <div class="star-holder">
                <div class="star" data-score="{{ item.stars }}"></div>
              </div>
              <button class="btn-compare  btn-iconic"></button>
            </div>
            <div class="body">
              <h3><a href="{{ langRootUrl }}/single-product">{{ item.name }}</a></h3>
              <div class="excerpt">
                {{ item.excerpt }}
              </div>
              <div class="merged-buttons">
                <button class="btn-add-to-cart le-btn btn-iconic">{{ 'products.toCartWide' | i18n }}</button>
                <button class="btn-add-to-wishlist le-btn btn-iconic">{{ 'products.wishlist' | i18n }}</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor -%}

    </div>
  </div>
</section>
