{% set langRootUrl = '/' + lang if lang !== defaultLang else '' %}

{% set productColumns = 'col-xs-12 col-sm-6 col-md-6 col-lg-4' %}
{% set currency = '₽' if lang === 'ru' else '$' %}
{# NOTE: To place currency sign after the price or before? #}
{% set currencyAfter = lang === 'ru' %}

{% set price = 145 %}
{% set priceOld = 250 %}

<div class="no-margin col-xs-12 col-sm-7 body-holder">
  <div class="body">
    {# Issue #13: Removed ratings
    <div class="star-holder">
      <div class="star"  data-score="3"></div>
    </div>
    #}
    <h3>3629 Звезда 1/35 ПРЕДЗАКАЗ Советский военный внедорожник УАЗ-469</h3>
    <div class="desc">
      <p>Друзья, встречайте военный отечественный внедорожник, который знает практически каждый - тот самый легендарный УАЗ-469 в масштабе 1/35 от легендарной "Звезды". Разумеется, в нашей фирменной прокачке с актуальными дополнениями и эксклюзивными спецпредложениями в рамках максимально выгодного upgrade-предзаказа.</p>
      <p>I. Каждый оформивший предзаказ на новую модель УАЗ-469 от фирмы "Звезда" в масштабе 1/35 получит в ПОДАРОК уникальный фирменный большой набор фототравления от фирмы "Микродизайн" (арт. 035530), включающий в себя дополнительную цветную плату с номерами, имитацией фар и элементами приборной панели, а так же фирменный набор окрасочных масок от "SX-Art"!</p>
      <p>II. При оформлении предзаказа каждый клиент получит купон на скидку 15% на следующую покупку (купон может быть использован единожды, срок действия 30 календарных дней);</p>
      <p>III. А так же при оформлении предзаказа на сайте будет действовать скидка в размере 30% на целый ряд топовых дополнений!</p>
      <p>Успейте воспользоваться предложением для Вашей максимальной выгоды! В этом предложении Вы найдете уникальный расширенный конверсионный набор для служебного УАЗ 3151,настоящий маст-хэв в виде корректировочного набора под военную версию внедорожника (колеса "Я-192" с запаской + военные мосты), несколько вариантов колес, капот с "жабрами", декаль на различные варианты служб, максимально реалистичную оптику от "Три А Студио", окрасочные маски, краски и многое - многое другое!</p>
      <p>Просто добавьте предзаказ в корзину и наблюдайте за преображением цен на дополнения!</p>
      <p>Цена модели составляет 2200 руб. Отправки подарочных наборов начнутся в течение 14 дней с момента старта предзаказа, а наборов с конверсиям – через 3-4 недели с момента старта предзаказа.</p>
      <p>*скидка не суммируется с личной скидкой, не действует на спецпредложения.</p>
      <p>**срок хранения предзаказа с момента выставления счета 14 дней.</p>
    </div>
    <div class="price">
      <div class="price-current">
        {% if not currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}{{ price }}{% if currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}
      </div>
      <div class="price-old">
        {% if not currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}{{ priceOld }}{% if currencyAfter %}<span class="currency">{{ currency }}</span>{% endif %}
      </div>
    </div>
    <div>
      {# Issue #13 -- Remove sizes
      <select class="variation-btn inline selectpicker capital" title="Size" data-width="70px" data-style="btn-inverse">
        <option>39</option>
        <option>40</option>
        <option>41</option>
        <option>42</option>
        <option>43</option>
      </select>
      #}
      <div class="padded-buttons inline qnt-holder">
        <div class="le-quantity">
          <form>
            <a class="minus" href="#reduce"></a>
            <input name="quantity" readonly="readonly" type="text" value="1" />
            <a class="plus" href="#add"></a>
          </form>
        </div>
      </div>
      <div class="merged-buttons">
        <!--
        <button class="btn-add-to-cart le-btn btn-iconic">{{ 'products.toCartWide' | i18n }}</button>
        <button class="btn-add-to-wishlist le-btn btn-iconic">{{ 'products.wishlistFull' | i18n }}</button>
        -->
        <button class="le-btn btn-iconic shopping-cart" onClick="window.addToCart(this)"><i class="fa fa-shopping-cart"></i> <span>{{ 'products.toCartWide' | i18n }}</span></button>
        <button class="le-btn btn-iconic heart"><i class="fa fa-heart"></i> <span>{{ 'products.wishlistFull' | i18n }}</span></button>
      </div>
      <div class="padded-buttons">
        <button class="btn-file-pdf le-btn btn-iconic">{{ 'products.downloadPdf' | i18n }}</button>
      </div>
    </div>
    {# // NOTE: This section displayed as a zero-height block
    <div class="social-row">
      <span class="st_facebook_hcount"></span>
      <span class="st_twitter_hcount"></span>
      <span class="st_pinterest_hcount"></span>
    </div>
    #}
    {% include "catalogue/tags-list.njk" %}
  </div>
</div>
