<div class="no-margin col-xs-12 col-sm-5 gallery-holder">
  <div class="product-item-holder size-big single-product-gallery small-gallery">

    {# Issue #13: Removed section icons
    <div class="icon-holder small">
      <i class="fa fa-search-plus"></i>
      <span class="triangle"></span>
    </div>
    #}

    <div class="single-product-slider">
      <div class="single-product-gallery-item" id="slide1">
        <a data-rel="prettyphoto[gallery]" href="/images/i-modelist-samples/uaz/large/01.jpg">
          <img class="lazy" alt="" src="/images/i-modelist-samples/uaz/medium/01.jpg" />
        </a>
      </div>
      <div class="single-product-gallery-item" id="slide2">
        <a data-rel="prettyphoto[gallery]" href="/images/i-modelist-samples/uaz/large/02.jpg">
          <img class="lazy" alt="" src="/images/i-modelist-samples/uaz/medium/02.jpg" />
        </a>
      </div>
      <div class="single-product-gallery-item" id="slide3">
        <a data-rel="prettyphoto[gallery]" href="/images/i-modelist-samples/uaz/large/03.jpg">
          <img class="lazy" alt="" src="/images/i-modelist-samples/uaz/medium/03.jpg" />
        </a>
      </div>
      <div class="single-product-gallery-item" id="slide4">
        <a data-rel="prettyphoto[gallery]" href="/images/i-modelist-samples/uaz/large/04.jpg">
          <img class="lazy" alt="" src="/images/i-modelist-samples/uaz/medium/04.jpg" />
        </a>
      </div>
      <div class="single-product-gallery-item" id="slide5">
        <a data-rel="prettyphoto[gallery]" href="/images/i-modelist-samples/uaz/large/05.jpg">
          <img class="lazy" alt="" src="/images/i-modelist-samples/uaz/medium/05.jpg" />
        </a>
      </div>
      <div class="single-product-gallery-item" id="slide6">
        <a data-rel="prettyphoto[gallery]" href="/images/i-modelist-samples/uaz/large/06.jpg">
          <img class="lazy" alt="" src="/images/i-modelist-samples/uaz/medium/06.jpg" />
        </a>
      </div>
      <div class="single-product-gallery-item" id="slide7">
        <a data-rel="prettyphoto[gallery]" href="/images/i-modelist-samples/uaz/large/07.jpg">
          <img class="lazy" alt="" src="/images/i-modelist-samples/uaz/medium/07.jpg" />
        </a>
      </div>
    </div>

    <div class="gallery-thumbs">
      <ul>
        <li class="active">
          <a class="horizontal-thumb" href="#slide1">
            <img class="lazy" alt="" src="/images/i-modelist-samples/uaz/small-thumbs-55x/01.jpg" />
          </a>
        </li>
        <li>
          <a class="horizontal-thumb " href="#slide2">
            <img class="lazy" alt="" src="/images/i-modelist-samples/uaz/small-thumbs-55x/02.jpg" />
          </a>
        </li>
        <li>
          <a class="horizontal-thumb" href="#slide3">
            <img class="lazy" alt="" src="/images/i-modelist-samples/uaz/small-thumbs-55x/03.jpg" />
          </a>
        </li>
        <li>
          <a class="horizontal-thumb" href="#slide4">
            <img class="lazy" alt="" src="/images/i-modelist-samples/uaz/small-thumbs-55x/04.jpg" />
          </a>
        </li>
        <li>
          <a class="horizontal-thumb" href="#slide5">
            <img class="lazy" alt="" src="/images/i-modelist-samples/uaz/small-thumbs-55x/05.jpg" />
          </a>
        </li>
        <li>
          <a class="horizontal-thumb" href="#slide6">
            <img class="lazy" alt="" src="/images/i-modelist-samples/uaz/small-thumbs-55x/06.jpg" />
          </a>
        </li>
        <li>
          <a class="horizontal-thumb" href="#slide7">
            <img class="lazy" alt="" src="/images/i-modelist-samples/uaz/small-thumbs-55x/07.jpg" />
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
