---
title: pages.checkout
layout: page.njk
:changed: 2023.12.06, 18:00
showProfile: true
---

{% set breadcrumb = [
  { link: '/', name: 'breadcrumbLinks.homepage' },
  { link: '/profile', name: 'breadcrumbLinks.profile' },
  { name: title, class: 'active' }
] %}
{% include "shared/section-breadcrumb.njk" %}

{% include "order/section-checkout.njk" %}

{# {% include "section-newsletter.njk" %} #}
{# {% include "section-banner-slider.njk" %} #}
{# {% include "section-brands-slider.njk" %} #}
