---
title: pages.orderCompleted
layout: page.njk
:changed: 2023.12.01, 22:23
showProfile: true
hideBacklink: true
---

{% set breadcrumb = [
  { link: '/', name: 'breadcrumbLinks.homepage' },
  { link: '/profile', name: 'breadcrumbLinks.profile' },
  { name: 'pages.orderCompleted', class: 'active' }
] %}
{% include "shared/section-breadcrumb.njk" %}

{% include "order/section-order-completed.njk" %}

{# {% include "section-newsletter.njk" %} #}
{# {% include "section-banner-slider.njk" %} #}
{# {% include "section-brands-slider.njk" %} #}
