---
title: Catalogue
layout: page.njk
:changed: 2023.10.01, 22:17
---

{% set breadcrumb = [
  { link: '/', name: 'Homepage' },
  { link: '/products', name: 'Products' },
  { name: 'Product grid', class: 'active' }
] %}
{% include "shared/section-breadcrumb.njk" %}

{% include "catalogue/section-products-grid.njk" %}

{% include "section-newsletter.njk" %}
{% include "section-banner-slider.njk" %}
{% include "section-brands-slider.njk" %}
