---
title: pages.productsGrid
layout: page.njk
:changed: 2023.12.05, 17:34
---

{% set breadcrumb = [
  { link: '/', name: 'breadcrumbLinks.homepage' },
  { link: '/products-grid', name: 'breadcrumbLinks.homepage' },
  { name: 'breadcrumbLinks.product', class: 'active' }
] %}
{% include "shared/section-breadcrumb.njk" %}

{% include "catalogue/section-products-grid.njk" %}

{# {% include "section-newsletter.njk" %} #}
{# {% include "section-banner-slider.njk" %} #}
{# section-brands-slider #}
