---
title: pages.profileSuccesfulRegistration
layout: page.njk
:changed: 2024.03.03, 23:47
showProfile: false
hideBacklink: true
---

{% set breadcrumb = [
  { link: '/', name: 'breadcrumbLinks.homepage' },
  { name: title, class: 'active' }
] %}
{% include "shared/section-breadcrumb.njk" %}

{% include "profile/section-profile-succesful-registration.njk" %}

{# {% include "section-newsletter.njk" %} #}
{# {% include "section-banner-slider.njk" %} #}
{# {% include "section-brands-slider.njk" %} #}
