---
title: pages.shoppingCart
layout: page.njk
:changed: 2023.11.30, 16:52
showProfile: false
hideBacklink: true
---

{% set breadcrumb = [
  { link: '/', name: 'breadcrumbLinks.homepage' },
  { link: '/profile', name: 'breadcrumbLinks.profile' },
  { name: 'pages.shoppingCart', class: 'active' }
] %}
{% include "shared/section-breadcrumb.njk" %}

{% include "order/section-shopping-cart.njk" %}

{# {% include "section-newsletter.njk" %} #}
{# {% include "section-banner-slider.njk" %} #}
{# {% include "section-brands-slider.njk" %} #}
