---
title: pages.singleProduct
layout: page.njk
:changed: 2024.02.07, 19:55
hideBacklink: true
---

{% set breadcrumb = [
  { link: '/', name: 'breadcrumbLinks.homepage' },
  { link: '/products-grid', name: 'breadcrumbLinks.catalogue' },
  { name: title, class: 'active' }
] %}
{% include "shared/section-breadcrumb.njk" %}

{% include "catalogue/section-single-product-wide.njk" %}

{# {% include "section-newsletter.njk" %} #}
{# {% include "section-banner-slider.njk" %} #}
{# {% include "section-brands-slider.njk" %} #}
