---
title: Оформление
layout: page.njk
:changed: 2023.10.19, 23:51
---

{% set breadcrumb = [
  { link: '/', name: 'breadcrumbLinks.homepage' | i18n },
  { link: '/products-grid', name: 'breadcrumbLinks.rubric' | i18n },
  { name: 'breadcrumbLinks.product' | i18n, class: 'active' }
] %}
{% include "shared/section-breadcrumb.njk" %}

{% include "order/section-checkout.njk" %}

{% include "section-newsletter.njk" %}
{% include "section-banner-slider.njk" %}
{# {% include "section-brands-slider.njk" %} #}
