---
layout: page.njk
:changed: 2023.10.01, 21:53
---

{% set breadcrumb = [
  { link: '/', name: 'Homepage' },
  { link: '/products', name: 'Products' },
  { name: 'Product grid', class: 'active' }
] %}

{% include "shared/section-breadcrumb.njk" %}

{% include "catalogue/section-products-grid.njk" %}

{% include "page-section-newsletter.njk" %}

<section class="banner-slider wow fadeInUp">
  <div class="container">
    <a class="btn-next nav-btn circular-icon" href="#"></a>
    <a class="btn-prev nav-btn circular-icon" href="#"></a>
    <div class="banner-carousel owl-carousel">
      <div class="item">
        <div class="caption">
          <h1>great stuff</h1>
          <div class="short-tag">
            <p>
              it was some time before the obtained any answer,<br>
              and the reply, when made, was awesome!
            </p>
          </div>
          <a class="le-btn" href="#">buy now</a>
        </div>
        <img src="/vendor/images/banner-slide-01.jpg" alt="">
      </div>
      <div class="item">
        <div class="caption">
          <h1>great stuff</h1>
          <div class="short-tag">
            <p>
              it was some time before the obtained any answer,<br>
              and the reply, when made, was awesome!
            </p>
          </div>
          <a class="le-btn" href="#">buy now</a>
        </div>
        <img src="/vendor/images/banner-slide-01.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="section-brands-slider">
  <div class="container">
    <a href="#next" class="brands-next btn-next"></a>
    <a href="#prev" class="brands-prev btn-prev"></a>
    <div class="brands-slider default-carousel owl-carousel">
      <div class="brand-item">
        <a href="#">
          <img alt="" src="/vendor/images/brands01.png"  />
        </a>
      </div>
      <div class="brand-item">
        <a href="#">
          <img alt="" src="/vendor/images/brands02.png"  />
        </a>
      </div>
      <div class="brand-item">
        <a href="#">
          <img alt="" src="/vendor/images/brands03.png"   />
        </a>
      </div>
      <div class="brand-item">
        <a href="#">
          <img alt="" src="/vendor/images/brands04.png"  />
        </a>
      </div>
      <div class="brand-item">
        <a href="#">
          <img alt="" src="/vendor/images/brands05.png"   />
        </a>
      </div>
      <div class="brand-item">
        <a href="#">
          <img alt="" src="/vendor/images/brands02.png"  />
        </a>
      </div>
      <div class="brand-item">
        <a href="#">
          <img alt="" src="/vendor/images/brands04.png"  />
        </a>
      </div>
      <div class="brand-item">
        <a href="#">
          <img alt="" src="/vendor/images/brands01.png"  />
        </a>
      </div>
      <div class="brand-item">
        <a href="#">
          <img alt="" src="/vendor/images/brands03.png"  />
        </a>
      </div>
      <div class="brand-item">
        <a href="#">
          <img alt="" src="/vendor/images/brands05.png"  />
        </a>
      </div>
    </div>
  </div>
</section>
