---
title: pages.singleProduct
layout: page.njk
:changed: 2023.12.01, 22:23
hideBacklink: true
---

{% set breadcrumb = [
  { link: '/', name: 'breadcrumbLinks.homepage' | i18n },
  { link: '/products-grid', name: 'breadcrumbLinks.rubric' | i18n },
  { name: 'breadcrumbLinks.product' | i18n, class: 'active' }
] %}
{% include "shared/section-breadcrumb.njk" %}

{% include "catalogue/section-single-product-wide.njk" %}

{# {% include "section-newsletter.njk" %} #}
{# {% include "section-banner-slider.njk" %} #}
{# {% include "section-brands-slider.njk" %} #}
